<section class="tour-description">
  <div class="container">

    <h2 class="tour-description__title">Легендарная 30-ка. Через горы к морю</h2>
    <div class="tour-metrics">

    </div>
    <div class="tour-description__content">
      <div class="tour-description__text">
        <p>Поход&nbsp;&mdash; это облегченный треккинг маршут, который дает возможность насладиться волшебными видами и&nbsp;природой Северо-кавказских гор.</p>
        <p>Облегчённый рюкзак&nbsp;&mdash; до&nbsp;12&nbsp;кг (с&nbsp;дождевиком, теплыми вещами и&nbsp;перекусом) сделает переход максимально комфортным. Этот поход подойдет как новичкам, так и&nbsp;опытным туристам. Во&nbsp;время перехода вы&nbsp;ощутите что значит: жизнь в&nbsp;&laquo;диких условиях&raquo;, будете разбивать палаточный лагерь, получите навыки ориентировки на&nbsp;местности.
        Вас ждут сокровища Кавказских гор: сказочные ландшафты, альпийские луга, ущелья, озера, водопады и&nbsp;горные ледники.</p>
        <p>30-й маршрут имеет древнейшую историю. Когда-то он&nbsp;являлся частью Великого &laquo;шелкового пути&raquo; и&nbsp;был самой короткой и&nbsp;безопасной дорогой через горы к&nbsp;морю. Когда-то по&nbsp;нему шли торговые караваны, перевозящие дорогие шелка и&nbsp;драгоценности.</p>
        <p>Каждый участник похода получает значок и&nbsp;удостоверение &laquo;Турист России&raquo; в&nbsp;конце маршрута.</p>
        <p class="tour-description__notice"><sub>*</sub>Ветеранам боевых действий и&nbsp;многодетным семьям скидка 2000&nbsp;рублей.</p>
      </div>
      <div class="tour-description__image">
        <div class="tour-description__image-container">
          <img src="img/tours/classic-route-30/bg-description.jpg" width="739" height="506" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
