<ul class="social">
  <li>
    <a href="#" class="social__link social__link--insta" target="_blank" title="Наш Инстаграм">
      <span class="visuallyhidden">Наш Инстаграм</span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link social__link--fb" target="_blank" title="Наш Фейсбук">
      <span class="visuallyhidden">Наш Фейсбук</span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link social__link--email" target="_blank" title="Наша почта">
      <span class="visuallyhidden">Наша почта</span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link social__link--vk" target="_blank" title="Наш Вконтакте">
      <span class="visuallyhidden">Наш Вконтакте</span>
    </a>
  </li>
</ul>
