<section class="tours-list">
  <h2 class="visuallyhidden">Наши услуги</h2>
  <figure class="tour-item">
    <img src="img/services/services-individual.jpg" width="430" height="250" alt="Создание индивидуальных туров и экскурсий">
    <figcaption>
      <h3 class="tour-item__title">Создание индивидуальных туров и экскурсий</h3>
    </figcaption>
    <a href="services-individual.html" class="tour-item__link"><span class="visuallyhidden">Создание индивидуальных туров и экскурсий</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-climb.jpg" width="430" height="250" alt="Восхождения любой сложности">
    <figcaption>
      <h3 class="tour-item__title">Восхождения любой сложности</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Восхождения любой сложности</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-guide.jpg" width="430" height="250" alt="Услуги гидов и инструкторов">
    <figcaption>
      <h3 class="tour-item__title">Услуги гидов и инструкторов</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Услуги гидов и инструкторов</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-organization.jpg" width="430" height="250" alt="Организация и проведение туров и экскурсий">
    <figcaption>
      <h3 class="tour-item__title">Организация и проведение туров и экскурсий</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Организация и проведение туров и экскурсий</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-horse-rides.jpg" width="430" height="250" alt="Конные прогулки">
    <figcaption>
      <h3 class="tour-item__title">Конные прогулки</h3>
    </figcaption>
    <a href="tour-classic-route-30.html" class="tour-item__link"><span class="visuallyhidden">Конные прогулки</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-rafting.jpg" width="430" height="250" alt="Рафтинг">
    <figcaption>
      <h3 class="tour-item__title">Рафтинг</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Рафтинг</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-jeeping.jpg" width="430" height="250" alt="Джиппинг">
    <figcaption>
      <h3 class="tour-item__title">Джиппинг</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Джиппинг</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-teambuilding.jpg" width="430" height="250" alt="Организация и проведение тимбилдинга">
    <figcaption>
      <h3 class="tour-item__title">Организация и проведение тимбилдинга</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Организация и проведение тимбилдинга</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-parties.jpg" width="430" height="250" alt="Корпоративы, банкеты и фотосессии в горах">
    <figcaption>
      <h3 class="tour-item__title">Корпоративы, банкеты и фотосессии в горах</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративы, банкеты и фотосессии в горах</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-flag-setting.jpg" width="430" height="250" alt="Установка флагов, вымпелов, на вершинах и перевалах">
    <figcaption>
      <h3 class="tour-item__title">Установка флагов, вымпелов, на вершинах и перевалах</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Установка флагов, вымпелов, на вершинах и перевалах</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-hotel.jpg" width="430" height="250" alt="Предоставление гостиницы">
    <figcaption>
      <h3 class="tour-item__title">Предоставление гостиницы</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Предоставление гостиницы</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/services/services-transfer.jpg" width="430" height="250" alt="Организация трансфера">
    <figcaption>
      <h3 class="tour-item__title">Организация трансфера</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Организация трансфера</span></a>
  </figure>
</section>
