<section class="tours-list">
  <h2 class="visuallyhidden">Наши туры</h2>
  <figure class="tour-item">
    <img src="img/tour-3.jpg" width="430" height="250" alt="30ка без рюкзака">
    <figcaption>
      <h3 class="tour-item__title">30ка без рюкзака</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.</span>
      </div>
    </div>

    <a href="route-30-without-backpack" router-link class="tour-item__link"><span class="visuallyhidden">30ка без рюкзака</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-4.jpg" width="430" height="250" alt="Через горы к морю Light">
    <figcaption>
      <h3 class="tour-item__title">Через горы к морю Light</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">66nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">5&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">17&nbsp;000 р.</span>
      </div>
    </div>
    <a href="route-30-light" router-link class="tour-item__link"><span class="visuallyhidden">Через горы к морю Light</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-5.jpg" width="430" height="250" alt="Классический маршрут №30">
    <figcaption>
      <h3 class="tour-item__title">Классический маршрут №30</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">20&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="tour-classic-route-30" router-link class="tour-item__link"><span class="visuallyhidden">Классический маршрут №30</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-7.jpg" width="430" height="250" alt="Большой Тхач">
    <figcaption>
      <h3 class="tour-item__title">Большой Тхач</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2368&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">58&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">6&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>
    <a href="bolshoy-thach" router-link class="tour-item__link"><span class="visuallyhidden">Большой Тхач</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-1.jpg" width="430" height="250" alt="Тур по горным вершинам">
    <figcaption>
      <h3 class="tour-item__title">Тур по горным вершинам</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.</span>
      </div>
    </div>
    <a href="tour-mountain-peaks" router-link class="tour-item__link"><span class="visuallyhidden">Тур по горным вершинам</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-2.jpg" width="430" height="250" alt="Долина водопадов">
    <figcaption>
      <h3 class="tour-item__title">Долина водопадов</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.</span>
      </div>
    </div>
    <a href="tour-valley-of-waterfalls" router-link class="tour-item__link"><span class="visuallyhidden">Долина водопадов</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-6.jpg" width="430" height="250" alt="Экскурсии по Адыгее">
    <figcaption>
      <h3 class="tour-item__title">Экскурсии по Адыгее</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="#" class="tour-item__link"><span class="visuallyhidden">Экскурсии по Адыгее</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-8.jpg" width="430" height="250" alt="Мультиактивый тур">
    <figcaption>
      <h3 class="tour-item__title">Мультиактивый тур</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">36&nbsp;600 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="multi-tour" router-link class="tour-item__link"><span class="visuallyhidden">Мультиактивый тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" width="430" height="250" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333">
            <linearGradient id="linear-gradient--20">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="20%" stop-color="#fff324"/>
              <stop offset="21%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--40">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="40%" stop-color="#fff324"/>
              <stop offset="41%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--60">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="60%" stop-color="#fff324"/>
              <stop offset="61%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="linear-gradient--80">
              <stop offset="0%" stop-color="#fff324"/>
              <stop offset="80%" stop-color="#fff324"/>
              <stop offset="81%" stop-color="#ffffff"/>
              <stop offset="100%" stop-color="#ffffff"/>
            </linearGradient>
            <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
</section>
