<section class="tours-list">
  <h2 class="visuallyhidden">Наши туры</h2>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
</section>
