<section class="tours-list">
  <h2 class="visuallyhidden">Наши туры</h2>
  <figure class="tour-item">
    <img src="img/tour-3.jpg" width="430" height="250" alt="30ка без рюкзака">
    <figcaption>
      <h3 class="tour-item__title">30ка без рюкзака</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.</span>
      </div>
    </div>

    <a href="route-30-without-backpack" router-link class="tour-item__link"><span class="visuallyhidden">30ка без рюкзака</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-4.jpg" width="430" height="250" alt="Через горы к морю Light">
    <figcaption>
      <h3 class="tour-item__title">Через горы к морю Light</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">66 км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">5&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">17&nbsp;000 р.</span>
      </div>
    </div>
    <a href="route-30-light" router-link class="tour-item__link"><span class="visuallyhidden">Через горы к морю Light</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-5.jpg" width="430" height="250" alt="Классический маршрут №30">
    <figcaption>
      <h3 class="tour-item__title">Классический маршрут №30</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">20&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="tour-classic-route-30" router-link class="tour-item__link"><span class="visuallyhidden">Классический маршрут №30</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-7.jpg" width="430" height="250" alt="Большой Тхач">
    <figcaption>
      <h3 class="tour-item__title">Большой Тхач</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2368&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">58&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">6&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>
    <a href="bolshoy-thach" router-link class="tour-item__link"><span class="visuallyhidden">Большой Тхач</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-1.jpg" width="430" height="250" alt="Тур по горным вершинам">
    <figcaption>
      <h3 class="tour-item__title">Тур по горным вершинам</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.</span>
      </div>
    </div>
    <a href="tour-mountain-peaks" router-link class="tour-item__link"><span class="visuallyhidden">Тур по горным вершинам</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-2.jpg" width="430" height="250" alt="Долина водопадов">
    <figcaption>
      <h3 class="tour-item__title">Долина водопадов</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.</span>
      </div>
    </div>
    <a href="tour-valley-of-waterfalls" router-link class="tour-item__link"><span class="visuallyhidden">Долина водопадов</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-6.jpg" width="430" height="250" alt="Экскурсии по Адыгее">
    <figcaption>
      <h3 class="tour-item__title">Экскурсии по Адыгее</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="#" class="tour-item__link"><span class="visuallyhidden">Экскурсии по Адыгее</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-8.jpg" width="430" height="250" alt="Мультиактивый тур">
    <figcaption>
      <h3 class="tour-item__title">Мультиактивый тур</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">36&nbsp;600 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="multi-tour" router-link class="tour-item__link"><span class="visuallyhidden">Мультиактивый тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" width="430" height="250" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <div class="tour-metrics tour-metrics--list">
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">2090&nbsp;м</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon tour-metrics__icon--lvl">
          <svg aria-hidden="true" width="60" height="60">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">сложность</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">100&nbsp;км</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">7&nbsp;дней</span>
      </div>
      <div class="tour-metrics__item">
        <div class="tour-metrics__icon">
          <svg aria-hidden="true" width="47" height="47">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
          </svg>
        </div>
        <span class="tour-metrics__text">25&nbsp;000 р.<sub>*</sub></span>
      </div>
    </div>

    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
</section>
