<div class="footer-bottom">
  <div class="container">
    <div class="footer-bottom__copyright">
      <p>Все права защищены ©&nbsp;2018 Fisht&nbsp;&mdash; Travel</p>
      <p>Активный отдых в&nbsp;горах Республики Адыгея и&nbsp;Краснодарского края</p>
    </div>
    {{> components/social/social}}
    <div class="footer-bottom__phone">
      <a href="tel:+79185630657" title="Позвоните нам!">+7&nbsp;918&nbsp;563&nbsp;06&nbsp;57</a>
    </div>
  </div>
</div>
