<section class="about">
  <div class="about__row about__row--top">
    <div class="container">
      <h2 class="section-title about__title">О нас</h2>
      <p class="about__text about__text--border">&laquo;Fisht-travel&raquo;&nbsp;&mdash; команда единомышленников, занимающаяся организацией&nbsp;и&nbsp;проведением туристических походов, корпоративных выездов, экскурсионных программ. Классический пеший туризм лежит в&nbsp;основе наших походов, но, несмотря на&nbsp;это, программа включает в&nbsp;себя элементы альпинизма, скалолазания, каньонинга и&nbsp;других направлений активного отдыха. Интересно и&nbsp;увлекательно будет всем: и&nbsp;новичкам, и&nbsp;любителям, и&nbsp;опытным спортсменам. Работники фирмы предлагают свою помощь в&nbsp;планировании маршрута для треккинг-тура, обращая внимание на&nbsp;индивидуальные требования каждого клиента.</p>
    </div>
  </div>
  <div class="about__row about__row--bottom">
    <div class="container">
      <div class="about__shaped">
        <p class="about__text">&laquo;Fisht-travel&raquo;&nbsp;&mdash; одни из&nbsp;немногих, которые предлагают уникальные туры не&nbsp;только в&nbsp;курортно-туристической зоне поселка Хаджох и&nbsp;плато Лаго-Наки, но&nbsp;и&nbsp;по&nbsp;территории Кавказского государственного природного биосферного заповедника имени Х.Г.&nbsp;Шапошникова, который включен в&nbsp;список Всемирного наследия и&nbsp;находится под охраной ЮНЕСКО. Через территорию заповедника проходят 11 официально утвержденных маршрутов.</p>
        <p class="about__text">Большое разнообразие индивидуальных туров, возможность составления программы, исходя из&nbsp;пожеланий клиентов, искушенных и&nbsp;начинающих, любящих комфорт и&nbsp;готовых к&nbsp;экстриму,&nbsp;&mdash; всё это отличает работу нашей команды</p>
      </div>
    </div>
  </div>
</section>
