.services {
  margin-bottom: 20px;
}

.services__item {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);

  &--1 {
    float: left;
    width: 580px;
    min-height: 430px;
    margin: 0 20px 20px 0;
  }

  &--2 {
    float: right;
    width: 380px;
    min-height: 815px;

    .services__description {
      padding: 20px 65px 15px;
    }
  }

  &--3 {
    float: left;
    width: 580px;
    min-height: 365px;
  }
}

.services__description {
  padding: 20px 20px 15px;

  text-align: center;
}

.services__title {
  margin: 0 0 30px 0;

  font: normal normal 600 24px/1 @fira-sans;
  text-transform: uppercase;
  color: @primary;
}

.services__text {
  margin: 0;

  font: normal normal 300 16px/1.2 @fira-sans;
  color: @black;
}
