<section class="services">
  <div class="container">
    <h2 class="visuallyhidden">Наши услуги</h2>
    <article class="services__item">
      <img src="img/services-1.jpg" width="380" height="323" alt="Индивидуальные туры">
      <div class="services__description">
        <h3 class="services__title">Индивидуальные туры</h3>
        <p class="services__text">Насладиться живописной панорамой горных вершин и&nbsp;утопающих в&nbsp;роскошной зелени долин можно не&nbsp;только пешком, но&nbsp;и&nbsp;путешествуя на&nbsp;лошадях. Эти восхитительные создания, которые отличаются выносливостью и&nbsp;способностью легко переносить многодневные путешествия, порадуют туристов.</p>
      </div>
    </article>
    <article class="services__item">
      <img src="img/services-2.jpg" width="380" height="325" alt="Треккинг и восхождения">
      <div class="services__description">
        <h3 class="services__title">Треккинг и&nbsp;восхождения</h3>
        <p class="services__text">Треккинг&nbsp;&mdash; на&nbsp;самом деле просто продвинутый поход от&nbsp;одной базы через горные перевалы, речки, скалы и&nbsp;ущелья на&nbsp;другую. Вы сами решаете, сколько препятствий готовы преодолеть на&nbsp;своем пути. Несомненный бонус&nbsp;&mdash; созерцание уникального животного и&nbsp;растительного мира. По&nbsp;окончанию маршрута вручение значка и&nbsp;удостоверения &laquo;турист России&raquo;.</p>
      </div>
    </article>
    <article class="services__item">
      <img src="img/services-3.jpg" width="380" height="323" alt="Однодневные туры">
      <div class="services__description">
        <h3 class="services__title">Однодневные туры</h3>
        <p class="services__text">Однодневный тур (тур выходного дня)&nbsp;&mdash; безусловно король летнего активного отдыха в&nbsp;горах! Это самый доступный способ получить хорошие эмоции, насладиться природой, осмотреть достопримечательности, подышать свежим воздухом и&nbsp;просто хорошо провести время на природе.</p>
      </div>
    </article>
    <article class="services__item services__item--vide">
      <img src="img/services-4.jpg" width="1180" height="458" alt="VIP туры">
      <div class="services__description">
        <h3 class="services__title">VIP туры</h3>
        <p class="services__text">Треккинг — на самом деле просто продвинутый поход от одной базы через горные перевалы, речки, скалы и ущелья на другую. Вы сами решаете, сколько препятствий готовы преодолеть на своем пути. Несомненный бонус – созерцание уникального животного и растительного мира. По окончанию маршрута вручение значка и удостоверения «турист России».</p>
      </div>
    </article>
  </div>
</section>
