<section class="arrival-dates">
  <div class="container">
    <h2>Заезды 2017</h2>
    <table>
      <tbody>
        <tr>
          <th>Май</th>
          <th>Июнь</th>
          <th>Июль</th>
          <th>Август</th>
          <th>Сентябрь</th>
        </tr>
        <tr>
          <td>13.05&nbsp;-&nbsp;19.05</td>
          <td>10.06&nbsp;-&nbsp;16.06</td>
          <td>08.07&nbsp;-&nbsp;14.07</td>
          <td>05.08&nbsp;-&nbsp;11.08</td>
          <td>02.09&nbsp;-&nbsp;08.09</td>
        </tr>
        <tr>
          <td>27.50&nbsp;-&nbsp;02.06</td>
          <td>24.06&nbsp;-&nbsp;30.06</td>
          <td>22.07&nbsp;-&nbsp;28.07</td>
          <td>19.08&nbsp;-&nbsp;25.08</td>
          <td>16.09&nbsp;-&nbsp;22.09</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>30.09&nbsp;-&nbsp;06.10</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
