{{!-- layouts/base.hbs --}}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="plugins/PageTransitions/css/component.css">
    <link rel="stylesheet" href="plugins/PageTransitions/css/animations.css">
    <link rel="shortcut icon" href="" type="image/png">

    {{!--<!--<meta name="viewport" content="width=950">-->--}}
    {{!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">--}}
    {{!--<link rel="stylesheet" href="css/font-awesome.min.css">--}}

    {{!-- <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css"> --}}
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="vendor/semantic.min.js"></script>
    <script src="plugins/PageTransitions/js/modernizr.custom.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Фишт-travel
        {{/if}}
    </title>

    {{#> head-block}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
</head>
<body>
  <div id="pt-main" class="pt-perspective">
    <div class="pt-page-1 pt-page">
      {{#> header}}
      {{!-- Header - block --}}
      {{/header}}

      {{#> content-block}}
      {{!-- Content inserts --}}
      {{/content-block}}


      {{#> footer-block}}
      {{!--
        The `includes/footer` partial is the default content,
        but can be overridden.
      --}}
      {{/footer-block}}
      {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
      {{/scripts-block}}
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Plugins -->
    </div>
  <script src="plugins/headroom/Headroom.js"></script>
  <script src="plugins/PageTransitions/js/pagetransitions.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
