<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#47a9ee">
    <meta name="keywords" content="{{this.keywords}}"/>
    <meta name="description" content="{{this.description}}"/>
<link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>
        {{#if this.title}}
            {{title}}
        {{else}}
            Fisht-travel
        {{/if}}
    </title>

    {{#> head-block}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
</head>
<body>
  {{> components/sprite/sprite}}

  <div id="pt-main" class="pt-perspective">
    <div class="pt-page-0 pt-page">
      {{#> header}}
      {{!-- Header - block --}}
      {{/header}}

      {{#> content-block}}
      {{!-- Content inserts --}}
      {{/content-block}}


      {{#> footer-block}}
      {{!--
        The `includes/footer` partial is the default content,
        but can be overridden.
      --}}
      {{/footer-block}}
      {{#> scripts-block}}
      {{!-- Custom scripts per page can be added. --}}
      {{/scripts-block}}
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Plugins -->
  </div>
  {{> layouts/common-scripts}}
  {{> layouts/yandex-metrika}}
</body>
</html>
