<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#47a9ee">
<meta name="keywords" content="{{this.keywords}}"/>
<meta name="description" content="{{this.description}}"/>
<link rel="shortcut icon" href="img/favicon.png" type="image/png">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<link rel="stylesheet" href="css/main.css">
<title>
  {{#if this.title}}
    {{title}}
  {{else}}
    Fisht-travel
  {{/if}}
</title>
