<nav class="main-nav">
  <div class="main-nav__container">
    <ul class="main-nav__list">
      <li><a href="#" class="main-nav__link">О нас</a></li>
      <li><a href="#" class="main-nav__link">Туры</a></li>
      <li><a href="#" class="main-nav__link">Услуги</a></li>
    </ul>
    <ul class="main-nav__list">
      <li><a href="#" class="main-nav__link">Контакты</a></li>
      <li><a href="#" class="main-nav__link">Галерея</a></li>
      <li><a href="#" class="main-nav__link">Бронирование</a></li>
    </ul>
  </div>
</nav>
