.main-nav {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;

  background-color: transparent;
  transition: all 0.2s linear;

  &--inner {
    background-color: fade(@primary, 80%);

    .main-nav__logo {
      display: block;

      opacity: 1;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    min-height: 90px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  width: 450px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-nav__logo {
  display: none;

  width: 120px;
  height: auto;

  transition: all 0.15s linear;
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.main-nav__link {
  position: relative;

  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: @white;
  text-decoration: none;
  text-shadow: 0 0 3px @black;

  transition: all 0.2s linear;

  &:hover {
    color: @yellow;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    cursor: default;

    &:hover {
      color: @white;
    }

    &:active {
      opacity: 1;
    }

    &::after {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;

      display: block;
      height: 3px;
      background-color: @yellow;
    }
  }
}
