{{#if mod}}
  <nav class="main-nav main-nav--{{mod}}">
{{else}}
  <nav class="main-nav headroom">
{{/if}}
    <div class="main-nav__container">
      <ul class="main-nav__list">
        <li><a href="tours.html" class="main-nav__link">Туры</a></li>
        <li><a href="#" class="main-nav__link">Услуги</a></li>
        <li><a href="#" class="main-nav__link">Бронирование</a></li>
      </ul>
      <a href="/" class="main-nav__logo">
        <img src="img/logo-text.svg" width="177" height="87" alt="Фишт-Тревел">
      </a>
      <ul class="main-nav__list">
        <li><a href="#" class="main-nav__link">Галерея</a></li>
        <li><a href="#" class="main-nav__link">Контакты</a></li>
        <li><a href="#" class="main-nav__link">О нас</a></li>
      </ul>
    </div>
  </nav>
