<section class="feedback">
  <form class="feedback__form" id="feedback-form--tours" enctype="multipart/form-data" action="" method="POST" onsubmit="return false">
    <h2 class="feedback__title section-title">Оставить заявку</h2>
    <label class="feedback__input">
      <span class="feedback__label">Выберите дату заезда</span>
      <select name="arrivalDate" id="arrival-date">
        <option value="19.05-25.05">19.05-25.05</option>
        <option value="02.06-08.06">02.06-08.06</option>
        <option value="16.06-22.06">16.06-22.06</option>
        <option value="30.06-06.07">30.06-06.07</option>
        <option value="14.07-20.07">14.07-20.07</option>
        <option value="28.07-03.08">28.07-03.08</option>
        <option value="11.08-17.08">11.08-17.08</option>
        <option value="25.08-31.08">25.08-31.08</option>
        <option value="08.09-14.09">08.09-14.09</option>
        <option value="22.09-28.09">22.09-28.09</option>
      </select>
    </label>
    <label class="feedback__input">
      <span class="visuallyhidden">Введите ваше имя</span>
      <input type="text" id="feedback-name" name="feedbackName" value="" placeholder="имя" required>
    </label>
    <label class="feedback__input">
      <span class="visuallyhidden">Введите ваш телефон</span>
      <input type="tel" id="feedback-phone" name="feedbackPhone" value="" placeholder="телефон" required>
    </label>
    <label class="feedback__input">
      <span class="visuallyhidden">Введите адрес электронной почты</span>
      <input type="email" id="feedback-email" name="feedbackEmail" value="" placeholder="e-mail">
    </label>
    <label class="feedback__input">
      <span class="visuallyhidden">Введите комментарий</span>
      <textarea id="feedback-comment" name="feedbackComment" value="" rows="4" cols="80" placeholder="комментарий"></textarea>
    </label>
    <button type="submit" id="feedback-submit" class="btn" name="feedbackSubmit">Отправить</button>
  </form>
</section>
