.feedback {
  padding: 80px 290px 95px;
}

.feedback__form {
  display: block;
  width: 100%;
  padding: 70px 100px 140px;

  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 9px 21px 0px rgba(0, 0, 0, 0.4);

  &--header {
    padding: 70px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &--reservation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    padding: 70px;
    background-color: rgba(255, 255, 255, 0.7);

    label {
      width: 48%;
    }
  }
}

.feedback__title {
  width: 100%;
  margin-bottom: 50px;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: @primary;
}

.feedback__input {
  display: block;
  margin-bottom: 30px;
}

.feedback__label {
  padding-left: 15px;

  font-size: 18px;
  line-height: 2em;
  font-weight: 600;
}
