@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/Impact--subset.woff2") format("woff2"),
    url("../fonts/Impact--subset.woff") format("woff");
  font-weight: 900;
  unicode-range: U+2116;
}

@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/firasans-thin.woff2") format("woff2"),
    url("../fonts/firasans-thin.woff") format("woff");
  font-weight: 400;
  unicode-range: U+2116, U+20BD;
}


@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/Akrobat-Light--subset.woff2") format("woff2"),
    url("../fonts/Akrobat-Light--subset.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/Akrobat-Regular--subset.woff2") format("woff2"),
    url("../fonts/Akrobat-Regular--subset.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/Akrobat-SemiBold--subset.woff2") format("woff2"),
    url("../fonts/Akrobat-SemiBold--subset.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/Akrobat-Bold--subset.woff2") format("woff2"),
    url("../fonts/Akrobat-Bold--subset.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/Akrobat-ExtraBold--subset.woff2") format("woff2"),
    url("../fonts/Akrobat-ExtraBold--subset.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/Akrobat-Black--subset.woff2") format("woff2"),
    url("../fonts/Akrobat-Black--subset.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  src:
    url("../fonts/wcmanonegraboldbta-webfont.woff2") format("woff2"),
    url("../fonts/wcmanonegraboldbta-webfont.woff") format("woff");
  unicode-range: U+2030;
}
