html {
  box-sizing: border-box;

  font-size: 10px;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
}

body {
  position: relative;

  display: block;

  min-width: 1200px;
  margin: 0;

  font-family: @font-main;

  background-color: @white;
}

.container {
  width: 1200px !important;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font: normal normal 600 30px/1 @font-main;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
