html {
  box-sizing: border-box;

  font-size: 10px;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
}

body {
  position: relative;

  margin: 0;

  font-family: @fira-sans;

  background-color: @white;
  overflow-x: hidden;
}

.container {
  width: 1180px !important;
  margin: 0 auto;

  &--inner {
    width: 980px !important;
  }
}

.section-title {
  font: normal normal 600 30px/1 @fira-sans;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
