html {
  box-sizing: border-box;

  font-size: 10px;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  min-width: 1200px;
  min-height: 100vh;
  margin: 0;

  font-family: @font-main;

  background-color: @white;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;

  li {
    position: relative;

    padding: 0 0 0 -1em;

    line-height: 1.2;

    &:last-child {
      margin: 0;
    }

    &::before {
      content: "";

      position: absolute;
      top: 0.65em;
      left: -0.5em;

      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

sub,
sup {
  font-size: 1.5em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;

  font-weight: 600;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.container {
  width: 1220px !important;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font: normal normal 600 30px/1 @font-main;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
