@primary: #47a9ee;
@black: black;
@gray: #8a8a8a;
@gray--light: #d7d7d7;
@white: white;
@yellow: #fff324;

@font-main: Akrobat, Helvetica, sans-serif;

@lg-desktop: ~'screen and (max-width: 1920px)';
@md-desktop: ~'screen and (max-width: 1365px)';
@wide-desktop: ~'screen and (max-height: 768px)';
