<section class="team">
  <div class="container">
    <ul class="team__list">
      <li class="team__item">
        <figure>
          <img src="img/team-hlebnikov.png" alt="">
          <figcaption>
            <h3>Иван Хлебников</h3>
            <b>28 лет</b>
          </figcaption>
        </figure>
        <div class="team__description">
          <p>Инструктор пешеходного туризма</p>
          <p>«Организатор школьного туризма»</p>
          <p>Член «Русского Географического Общества»</p>
          <p>Выпускник «Кубанского Государственного Университета Физической культуры, спорта и туризма»</p>
          <p>Организатор туристских походов «Fisht-trevel» с 2009 г.</p>
          <p>2015, 2016 гг. участник экстремальной приключенческой гонки «100 км за 24 часа»</p>
          <p>Хобби: Парашютный спорт, спортивное ориентирование.</p>
        </div>
      </li>
      <li class="team__item">
        <figure>
          <img src="img/team-ponomarev.png" alt="">
          <figcaption>
            <h3>Максим Пономарев</h3>
            <b>29 лет</b>
          </figcaption>
        </figure>
        <div class="team__description">
          <p>Инструктор пешеходного туризма, инструктор водного туризма, тренер по спортивному туризму, инструктор детско-юношеского туризма, зарегистрирован в реестре ФСТР удостоверение №3260.</p>
          <p>Участник Краевой туристско-краеведческой экспедиции «К истокам», А также участник в 2015, 2016, 2017 гг. экстремальной приключенческой гонки «100 км за 24 часа» и прочих туристских мероприятий.</p>
          <p>Ответственный секретарь маршрутной квалификационной комиссии по выпуску туристских групп на спортивные маршруты</p>
          <p>Преподаватель школы инструкторов начальной туристской подготовки.</p>
          <p>Опыт в туризме 9 лет.</p>
        </div>
      </li>
      <li class="team__item">
        <figure>
          <img src="img/team-sarkisyan.png" alt="">
          <figcaption>
            <h3>Виталий Саркисян</h3>
            <b>33 года</b>
          </figcaption>
        </figure>
        <div class="team__description">
          <p>Инструктор по горно-пешеходному туризму, представитель РГО в республике Адыгея, многократный призер по спортивному ориентированию.</p>
          <p>Организатор туристских походов «Fisht-trevel» с 2006 г.</p>
          <p>Хобби: археология, ездовые хаски, фотография.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
