<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы</h2>
    <div class="reviews__carousel">
      {{#each this}}
        <p>
          {{greet}}
        </p>
      {{/each}}
    </div>
    <div class="reviews__togglers">
      <button type="button" class="reviews__toggler reviews__toggler--next">
        <span class="visuallyhidden">Следующий отзыв</span>
      </button>
      <button type="button" class="reviews__toggler reviews__toggler--prev">
        <span class="visuallyhidden">Предыдущий отзыв</span>
      </button>
    </div>
  </div>
</section>
