<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы</h2>
    <div class="reviews__carousel">
      <div class="reviews__item">
        <div class="reviews__image">
          <img src="img/user-avatar.jpg" alt="">
        </div>
        <div class="reviews__text">
          <p>В свои 65 решил тряхнуть своей туристической стариной, так я попал на приют "Фишт" с надеждой подняться на вершину. Начальник приюта, Сан Саныч, представил меня Виталию Саркисяну, инструктору группы, которая на следующее утро (13 сентября) выходила на Фишт. Восхождение и возвращение прошли замечательно! Особенно хочу отметить доброе, заботливое отношение Виталия к своим подопечным, то есть к нам. Великолепное знание маршрута, всевозможные подсказки и рекомендации в пути, организация прохождения ледника в связке, помощь в надевании снаряжения…. В общем – проявление профессионализма в своём деле. Поэтому ещё раз благодарю Виталия, с участием которого стало возможным исполнение моего стремления к вершине, и ходатайствую перед его руководством о поощрении этого достойного инструктора не только морально, но и материально. А Виталию - пожелание лёгких рюкзаков, интересных спутников, хорошей погоды на маршрутах!</p>
          <p>И береги тебя Господь!</p>
        </div>
        <div class="reviews__name">
          <p>Николай Николаевич, 65 лет</p>
        </div>
      </div>
      <div class="reviews__item">
        <div class="reviews__image">
          <img src="img/user-avatar.jpg" alt="">
        </div>
        <div class="reviews__text">
          <p>В свои 65 решил тряхнуть своей туристической стариной, так я попал на приют "Фишт" с надеждой подняться на вершину. Начальник приюта, Сан Саныч, представил меня Виталию Саркисяну, инструктору группы, которая на следующее утро (13 сентября) выходила на Фишт. Восхождение и возвращение прошли замечательно! Особенно хочу отметить доброе, заботливое отношение Виталия к своим подопечным, то есть к нам. Великолепное знание маршрута, всевозможные подсказки и рекомендации в пути, организация прохождения ледника в связке, помощь в надевании снаряжения…. В общем – проявление профессионализма в своём деле. Поэтому ещё раз благодарю Виталия, с участием которого стало возможным исполнение моего стремления к вершине, и ходатайствую перед его руководством о поощрении этого достойного инструктора не только морально, но и материально. А Виталию - пожелание лёгких рюкзаков, интересных спутников, хорошей погоды на маршрутах!</p>
          <p>И береги тебя Господь!</p>
        </div>
        <div class="reviews__name">
          <p>Николай Николаевич, 65 лет</p>
        </div>
      </div>
    </div>
    <div class="reviews__togglers">
      <button type="button" class="reviews__toggler reviews__toggler--next">
        <span class="visuallyhidden">Следующий отзыв</span>
      </button>
      <button type="button" class="reviews__toggler reviews__toggler--prev">
        <span class="visuallyhidden">Предыдущий отзыв</span>
      </button>
    </div>
  </div>
</section>
