{{#> layouts/base title="Index" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  {{> components/main-nav/main-nav}}
  <header class="header">
    {{> components/slider/slider}}

  </header>
  <main>
    {{> components/about/about}}
    {{> components/services/services}}
  </main>
  {{/inline}}
  {{#* inline "footer-block"}}
    {{> components/footer-main/footer-main}}
  {{/inline}}

  {{#* inline "scripts-block"}}
    <script>console.log("custom script")</script>
  {{/inline}}

{{/layouts/base}}
