{{#> layouts/base}}

    {{#*inline "head-block"}}
      {{> layouts/head meta.index}}
    {{/inline}}

    {{#*inline "content-block"}}
      {{> components/main-nav/main-nav}}
      <header class="header">
        {{> components/slider/slider}}
      </header>
      <main>
        {{> components/about/about}}
        {{> components/services/services}}
        {{> components/reviews/reviews}}
      </main>
    {{/inline}}

    {{#* inline "footer-block"}}
      <footer class="footer-main">
        <div class="container">
          {{> components/form-feedback/form-feedback}}
        </div>
        {{> components/footer-bottom/footer-bottom}}
      </footer>
    {{/inline}}


  {{#* inline "scripts-block"}}
      <script src="plugins/shapes-polyfill/shapes-polyfill.min.js"></script>
      <script src="plugins/slick/slick.min.js"></script>
  {{/inline}}

{{/layouts/base}}
