{{#> layouts/base title="Index" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  {{> components/main-nav/main-nav}}
  <header class="header">
    {{> components/slider/slider}}

  </header>
  <main>
    {{> components/about/about}}
    {{> components/services/services}}
  </main>
  {{/inline}}
  {{#* inline "footer-block"}}
    <footer class="footer-main">
      <div class="container">
        {{> components/form-feedback/form-feedback}}
      </div>
      {{> components/footer-bottom/footer-bottom}}
    </footer>
  {{/inline}}

  {{#* inline "scripts-block"}}
    {{> layouts/index.scripts}}
    <script>console.log("custom script")</script>
  {{/inline}}

{{/layouts/base}}
