{{#> layouts/base meta.multi-tour}}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  <header class="header">
    {{> components/main-nav/main-nav mod="inner"}}
    {{> components/tour-header/tour-header title="Мультиактивный тур" bgImage="/img/tours/multi-tour/bg-hero.jpg"}}
  </header>
  <main>

    <section class="tour-description">
      <div class="container">
        <div class="tour-description__header">
          <div class="tour-description__title">
            <h2>Мульти активный тур</h2>
          </div>
          <div class="tour-metrics">
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">2090&nbsp;м</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333" clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                  <linearGradient id="linear-gradient--20">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="20%" stop-color="#47a9ee"/>
                    <stop offset="21%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <linearGradient id="linear-gradient--40">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="40%" stop-color="#47a9ee"/>
                    <stop offset="41%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <linearGradient id="linear-gradient--60">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="60%" stop-color="#47a9ee"/>
                    <stop offset="61%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <linearGradient id="linear-gradient--80">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="80%" stop-color="#47a9ee"/>
                    <stop offset="81%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
                </svg>
              </div>
              <span class="tour-metrics__text">сложность</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">100&nbsp;км</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">7&nbsp;дней</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">36&nbsp;600 р.</span>
            </div>
          </div>
        </div>

        <div class="tour-description__content">
          <div class="tour-description__text">
            <p>Мульти-актив - это комбинированный тур состоящий из рафтинга, треккинга, джипинга, конной прогулки и дюльфера. Каждому из перечисленных видов активного туризма выделяется отдельный полноценный день для лучшего ознакомления. Тур предназначен для неискушенных людей не имеющих опыта в данных видах туризма.</p>
            <p>По окончанию маршрута вручение значка и удостоверения ТУРИСТ РОССИИ!</p>
          </div>
          <div class="tour-description__image">
            <div class="tour-description__image-container">
              <img src="img/tours/multi-tour/bg-description.jpg" width="739" height="506" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="tour-schedule">
      <div class="container">
        <div class="tour-schedule__title">
          <h2>Программа маршрута</h2>
        </div>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">первый</span>
              </p>
              <span class="tour-day__number">01</span>
              <h3>Заезд. Майкопский район, поселок Каменномостский (Хаджох)</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">8&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Заезд на турбазу в течении дня, завтрак. </li>
            <li>Завтрак.</li>
            <li>Прогулка к &laquo;Сквозному гроту&raquo;.<sup>1</sup></li>
            <li>Возвращение на&nbsp;базу, обед.</li>
            <li>Выход в&nbsp;Хаджохскую теснину.<sup>2</sup></li>
            <li>Ужин, затем сбор, знакомство всей группы, развлекательная программа.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-1-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-1-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-1-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-1-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-1-photo-5.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-1-photo-6.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-1-photo-7.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>1. Известным грот стал благодаря карстовому провалу, образовавшимся в потолке его задней части. Через этот провал в дневное время пробивается солнечный свет. Культовое языческое место древних адыгов.</p>
              <p>Хаджохская теснина (Каменномостский каньон) — участок ущелья реки Белой, в которой оборудован экскурсионный маршрут. Хаджохская теснина расположена на юго-западной окраине посёлка Каменномостский. Длина теснины – около 400 м.
              Маршрут оборудован дорожками, лестницами, перилами. Автомобильный мост через каньон делит маршрут на две части. В нижней по течению реки части обустроен вольер в котором содержатся 2 взрослых медведя.</p>
              <p>При приближении к Хаджохской теснине по дороге, ведущей на левый берег реки Белой, не видно речной долины. Только при походе к мосту становится видна пропасть шириной 6—7 м, и глубиной — 35 м. Вырвавшись из теснины, река замедляет свой бег, расширяется до 50—60 м.</p>
              <p>Теснина образовалась от того, что трещиноватый известняк, соприкасаясь с водой, подвергался медленному растворению и выщелачиванию. Благодаря врезанию реки вглубь и вширь, поднятию гор в течение десятков тысячелетий, долина приобрела современные очертания.</p>
              <p>С 1979 года каньон является памятником природы местного значения. Маршрут включён в график движения групп проходящих Всесоюзный туристский маршрут №30.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">второй</span>
              </p>
              <span class="tour-day__number">02</span>
              <h3>Трекинг в ущелье Руфабго.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">14&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Посетим оборудованные водопады Руфабго, а так же смотровые площадки.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-2-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-2-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-2-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-2-photo-4.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Водопады в ущелье реки Большой Руфабго – один из самых популярных и красивейших туристких маршрутов на Западном Кавказе. С 1975г. ущелье занесено в реестор памятников природы местного значения и является бесспорной визитной карточкой Адыгеи. Этот уникальный памятник природы расположен в нескольких километрах южнее поселка Каменномостского (Хаджоха).</p>
              <p>Руфабго, левый приток реки Белой протяженностью около 20 км, берет свое начало из склонов хребта Азиш-Тау на высоте 920м. над уровнем моря, теряя 500м. высоты, живописным каскадом водопадов впадает в р.Белая.</p>
              <p>В нижней части своего течения Руфабго попадает в глубокое ущелье(древний тектонический разлом) – с крутыми склонами, каменными террасами, гротами и отвесными скальными коридорами высотой до 150 метров. Склоны ущелья густо покрывает буковый лес, деревья и скалы обвиты гирляндами колхидского плюща.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">третий</span>
              </p>
              <span class="tour-day__number">03</span>
              <h3>Рафтинг, сплав по р.Белой.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">12&nbsp;км</span>
              </div>
            </div>
          </header>
          {{!-- <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Посещение водопадов в ущелье реки Большой Руфабго.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul> --}}
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-3-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-3-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-3-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-3-photo-4.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Рафтинг – это сплав по горной реке на специальном надувном судне. Опыт и квалификация гидов, надежность плавательных средств и качество снаряжения являются залогом увлекательного, полного положительных эмоций отдыха на воде.</p>
              <p>Безопасный экстрим на реке Белая, предлагаемый в любую погоду для туристов всех возрастов и уровней подготовки.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">четвёртый</span>
              </p>
              <span class="tour-day__number">04</span>
              <h3>Дюльфер.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">18&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Cпуск по отвесной скале (стене) с помощью специализированного альпинистского снаряжения.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-4-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-4-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-4-photo-3.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Данный курс создан для туристов ранее не касающихся темы альпинизма, никаких физических усилий или специализированных навыков при занятии дюльфером не требуется.</p>
              <p>Занятие проводит дипломированный инструктор, в горной местности на учебно – тренировочной скале.</p>
              <p>Практика показывает, что многие люди с опаской относятся к новым, не понятным вещам, но побывав на скалах хоть раз, их уже сложно оторвать от столь увлекательного занятия как дюльфер.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">пытый</span>
              </p>
              <span class="tour-day__number">05</span>
              <h3>Конная прогулка.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">7&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Выход на обзорную площадку «Чертов Палец».</li>
            <li>Осмотр пещер и гротов.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-5-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-5-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-5-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-5-photo-4.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Многие сотни лет лошадь служила человечеству самым быстрым и надежным средством передвижения. А сегодня конные прогулки на свежем воздухе стали отличным средством развлечения, активного отдыха и оздоровления.</p>
              <p>Во время прогулки Вам открывается прекрасная панорама Главного Кавказского хребта и вид на долину реки Белая с панорамных точек на скальных обрывах хребта Унакоза.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">шестой</span>
              </p>
              <span class="tour-day__number">06</span>
              <h3>Джипинг.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">20&nbsp;км</span>
              </div>
            </div>
          </header>
          {{!-- <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Cпуск по отвесной скале (стене) с помощью специализированного альпинистского снаряжения.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
            <li>Вручение значка и удостоверения ТУРИСТ РОССИИ!</li>
          </ul> --}}
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-6-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-6-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/multi-tour/day-6-photo-3.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Джиппинг — экстремальный вид отдыха и туризма, заключающийся в прохождении туристических маршрутов по бездорожью на автомобилях (джипах и вездеходах).</p>
              <p>Этот вид путешествия на автомобилях повышенной проходимости с преодолением природных препятствий, не оставит равнодушным даже бывалых автолюбителей.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">седьмой</span>
              </p>
              <span class="tour-day__number">07</span>
              <h3>Возвращение домой</h3>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Разъезд по домам.</li>
          </ul>
        </article>

        <div class="tour-schedule__finally">
          <p>С учётом погодных обстоятельств программа может быть скорректирована, время и порядок предоставления туристских услуг, заявленных в программе могут меняться при сохранении их объема и качества. При большой воде и низких температурах сплав может быть заменен треккингом или автобусной экскурсией.</p>
        </div>

      </div>
    </section>

    <section class="arrival-dates">
      <div class="container">
        <h2>Заезды 2018</h2>
        <table>
          <tbody>
            <tr>
              <th>Апрель</th>
              <th>Май</th>
              <th>Июнь</th>
              <th>Июль</th>
              <th>Август</th>
              <th>Сентябрь</th>
              <th>Октябрь</th>
            </tr>
            <tr>
              <td>28.04-04.05</td>
              <td>05.05-11.05</td>
              <td>02.06-08.06</td>
              <td>07.07-13.07</td>
              <td>04.08-10.08</td>
              <td>01.09-07.09</td>
              <td>06.10-12.10</td>
            </tr>
            <tr>
              <td></td>
              <td>12.05-18.05</td>
              <td>09.06-15.06</td>
              <td>14.07-20.07</td>
              <td>11.08-17.08</td>
              <td>08.09-14.09</td>
              <td>13.10-19.10</td>
            </tr>
            <tr>
              <td></td>
              <td>19.05-25.05</td>
              <td>16.06-22.06</td>
              <td>21.07-27.07</td>
              <td>18.08-24.08</td>
              <td>15.09-21.09</td>
              <td>20.10-26.10</td>
            </tr>
            <tr>
              <td></td>
              <td>26.05-01.06</td>
              <td>23.06-29.06</td>
              <td>28.07-03.08</td>
              <td>25.08-31.08</td>
              <td>22.09-28.09</td>
              <td>27.10-02.11</td>
            </tr>
            <tr>
              <td></td>
              <td>30.06-06.07</td>
              <td></td>
              <td></td>
              <td></td>
              <td>29.09-05.10</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="tour-composition">
      <div class="container">
        <div class="tour-composition__column tour-composition__column--include">
          <h3>В стоимость включено:</h3>
          <ul>
            <li>Проживание в номере с удобствами</li>
            <li>3-х разовое питание</li>
            <li>Сопровождение инструктора</li>
            <li>Прокат рафтов</li>
            <li>Прокат лошадей</li>
            <li>Прокат снаряжения</li>
            <li>Прокат амуниции</li>
            <li>Поездка на джипах</li>
            <li>Внутри маршрутный транспорт</li>
            <li>Прокат группового снаряжения</li>
            <li>Входные платы</li>
            <li>Плата за пребывание в заповеднике</li>
            <li>Аптечка на группу</li>
            <li>Страховка</li>
          </ul>
        </div>
        <div class="tour-composition__column tour-composition__column--not-include">
          <h3>В стоимость не включено:</h3>
          <ul>
            <li>Проезд до поселка Каменномостский (Хаджох)</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="info">
      <article class="info__item info__item--equipment">
        <div class="container">
          <div class="info__column">
            <h3>Необходимое личное снаряжение:</h3>
            <ul>
              <li>Небольшой рюкзак</li>
              <li>Накидка на случай дождя</li>
              <li>Походная обувь — кроссовки либо туристские ботинки</li>
              <li>Походная обувь</li>
              <li>Личная посуда (чашка, ложка, кружка)</li>
              <li>Фонарик</li>
              <li>Сидушка/хоба (прямоугольный коврик с резинкой)</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="info__item info__item--food">
        <div class="container">
          <div class="info__column">
            <h3>Организация питания:</h3>
            <p>Питание трёхразовое, учитываем предпочтения и с удовольствием работаем с вегетарианцами. Меню составляется инструктором с учетом плана похода, особенностей местности и погодных условий. Туристы участвуют в приготовлении пищи и организации стоянок.</p>
          </div>
        </div>
      </article>
      <article class="info__item info__item--add-services">
        <div class="container">
          <div class="info__column">
            <h3>Дополнительные услуги:</h3>
            <ul>
              <li>Возможна организация отдыха на море в <a href="http://loodom.com" title="Гостевой дом Дружба">гостевом доме</a> </li>
              <li>Есть возможность организовать встречу и трансфер туристов из г. Краснодар, г. Белореченск, г. Майкоп в п. Каменномостский</li>
            </ul>
          </div>
        </div>
      </article>
    </section>
  </main>
  {{/inline}}
  {{#* inline "footer-block"}}
  <footer class="footer-main">
    <div class="container">
      {{> components/form-feedback/form-feedback--multi-tour}}
    </div>
    {{> components/footer-bottom/footer-bottom}}
  </footer>
  {{/inline}}

  {{#* inline "scripts-block"}}
    {{> layouts/index.scripts}}

  {{/inline}}

{{/layouts/base}}
