{{#> layouts/base title="Через горы к морю Light" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  <header class="header">
    {{> components/main-nav/main-nav mod="inner"}}
    {{> components/tour-header/tour-header title="Через горы к морю Light" bgImage="/img/tours/route-30-light/bg-hero.jpg"}}
  </header>
  <main>

    <section class="tour-description">
      <div class="container">
        <div class="tour-description__header">
          <div class="tour-description__title">
            <h2>Знаменитая 30ка без рюкзака. Через горы к морю.</h2>
          </div>
          <div class="tour-metrics">
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">2090&nbsp;м</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 3968.75 2645.8333" clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                  <linearGradient id="linear-gradient--20">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="20%" stop-color="#47a9ee"/>
                    <stop offset="21%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <linearGradient id="linear-gradient--40">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="40%" stop-color="#47a9ee"/>
                    <stop offset="41%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <linearGradient id="linear-gradient--60">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="60%" stop-color="#47a9ee"/>
                    <stop offset="61%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <linearGradient id="linear-gradient--80">
                    <stop offset="0%" stop-color="#47a9ee"/>
                    <stop offset="80%" stop-color="#47a9ee"/>
                    <stop offset="81%" stop-color="#d7d7d7"/>
                    <stop offset="100%" stop-color="#d7d7d7"/>
                  </linearGradient>
                  <path fill="url(#linear-gradient--20)" d="M220.49 1763.77C98.784 1763.77 0 1862.482 0 1984.253v440.987c0 121.742 98.784 220.593 220.5 220.593 121.726 0 220.51-98.841 220.51-220.593l-.01-440.987c0-121.77-98.814-220.483-220.51-220.483zm881.952-440.958c-121.725 0-220.47 98.723-220.47 220.464v881.935c0 121.741 98.784 220.464 220.47 220.464 121.686 0 220.5-98.723 220.5-220.464l-.01-881.935c0-121.741-98.784-220.464-220.49-220.464zm881.933-440.957c-121.716 0-220.471 98.772-220.471 220.493V2425.25c0 121.742 98.785 220.464 220.47 220.464 121.647 0 220.501-98.722 220.501-220.464V1102.31c0-121.702-98.854-220.454-220.5-220.454zm881.932-440.948c-121.627 0-220.47 98.772-220.47 220.454v1763.85c0 121.741 98.843 220.602 220.47 220.602 121.656 0 220.51-98.84 220.51-220.602V661.36c0-121.711-98.824-220.454-220.51-220.454zM3748.279 0c-121.647 0-220.5 98.693-220.5 220.366V2425.18c0 121.742 98.843 220.593 220.5 220.593 121.666 0 220.47-98.841 220.47-220.593V220.404c0-121.712-98.784-220.405-220.47-220.405z"/>
                </svg>
              </div>
              <span class="tour-metrics__text">сложность</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">66&nbsp;км</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">5&nbsp;дней</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">17&nbsp;000 р.</span>
            </div>
          </div>
        </div>

        <div class="tour-description__content">
          <div class="tour-description__text">
            <p>Мы предлагаем вам уникальную возможность пройти легендарный маршрут без рюкзака! Этот поход подойдет как новичкам, так и опытным туристам.  Во время перехода вы ощутите что значит: жизнь в «диких условиях», будете разбивать палаточный лагерь, получите навыки ориентировки на местности. Вас ждут сокровища Кавказских гор: сказочные ландшафты, альпийские луга, ущелья, озера, водопады и горные ледники.</p>
            <p>30-й маршрут имеет древнейшую историю. Когда-то он являлся частью Великого «шелкового пути» и был самой короткой и безопасной дорогой через горы к морю. Когда-то по нему шли торговые караваны, перевозящие дорогие шелка и драгоценности.</p>
            <p>Каждый участник похода получает значок и удостоверение «Турист России» в конце маршрута.</p>
          </div>
          <div class="tour-description__image">
            <div class="tour-description__image-container">
              <img src="img/tours/route-30-light/bg-description.jpg" width="739" height="506" alt="">
            </div>
          </div>
        </div>
        <div class="tour-description__features">
          <h2>Достоинства маршрута</h2>
          <ul>
            <li>Кавказские горы этой части страны&nbsp;&mdash; высотой около 3000&nbsp;м, одни из&nbsp;наиболее доступных в&nbsp;России;</li>
            <li>Уникальный климат и&nbsp;природа! Следуя по&nbsp;пути марштура, вы&nbsp;пересечете субальпийский и&nbsp;альпийский климатические пояса, тропики и&nbsp;субтропики. Многообразие фауны: альпийские луга, реликтовые и&nbsp;самшитовые леса &mdash;здесь сохранились в&nbsp;первозданном виде.</li>
            <li>Если вы&nbsp;мечтали сходить в&nbsp;многодневный поход, но&nbsp;не&nbsp;имеете опыта, то&nbsp;Через горы к морю Light именно то&nbsp;что вам нужно. Вам останется только наслаждаться путешествием и&nbsp;отдыхом.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="tour-schedule">
      <div class="container">
        <div class="tour-schedule__title">
          <h2>Программа маршрута</h2>
        </div>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">первый</span>
              </p>
              <span class="tour-day__number">01</span>
              <h3>Заезд (Лаго – Наки).</h3>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Встреча в аэропорту г. Краснодара</li>
            <li>Трансфер в Лаго-Наки.</li>
            <li>Знакомство с инструктором.</li>
            <li>Обустройство палаточного лагеря.</li>
            <li>Инструктаж по технике безопасности.</li>
            <li>Подготовка к походу.</li>
          </ul>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">второй</span>
              </p>
              <span class="tour-day__number">02</span>
              <h3>Горная часть 30-го маршрута.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">18&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>9:00 Завтрак.</li>
            <li>Переезд из п. Каменномостского на плато Лаго-Наки (высота около 1800 метров над уровнем моря).</li>
            <li>Переход 18 км до приюта Фишт. Время в пути 8-10 часов.</li>
            <li>14:00 Обед в походных условиях, перекус.</li>
            <li>19:00 Разбиваем лагерь, приготовление ужина, посиделки у костра.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-5.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Отправной точкой маршрута №30 будет плато Лаго-Наки, расположенное на высоте около 1800 метров над уровнем моря. Погрузка вещей на лошадей и отправление в путь без рюкзаков. Альпийские луга с панорамными видами, карстовые воронки (провалы в поверхности земли, связанные с вымыванием, и разрушением породы), и огромное количество видов растений. Далее на пути — гора Оштен, высота её 2804 метра. Легенда гласит, что когда-то гора была чашей огромного озера. Сейчас она имеет внушительные размеры и пленяет туристов маршрута 30 своим видом: разнообразные узоры скал, каменные россыпи, слегка озеленённые пригорки и безмятежная вершина, которую, как правило, окутывают пушистые, а часто и тяжелые облака. Чтобы это увидеть, стоит посетить 30 всесоюзный маршрут.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">третий</span>
              </p>
              <span class="tour-day__number">03</span>
              <h3>Приют «Фишт».</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">7&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>9:00 Завтрак.</li>
            <li>11:00 выход на малый Фиштинский Ледник, расстояние 7км.</li>
            <li>14:00 Готовим все вместе обед.</li>
            <li>15:00 - 19:00 Отдых, активные игры, волейбол, футбол, фризби.</li>
            <li>19:30 Ужин. Посиделки у костра.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-5.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Название горы «Фишт» переводится как «Белая голова». Под вершиной горы расположен огромный ледник, который на фоне серых скал виден на протяжении почти всего маршрута. Подножие горы Фишт находится на высоте примерно 1630 метров, а высота её 2867 метров. Километровый промежуток заполнен огромной каменной крепостью, которая величаво выделяется на фоне соседних более мелких горных хребтов. Разнообразные ручейки, стекая со скал, искрятся и играют на солнце, напоминая россыпи драгоценных камней. В этот день мы совершим прогулочный выход на Малый Фиштинский ледник.</p>
              <p>Несомненно, оценить по достоинству все эти сокровища, можно лишь увидев их хоть раз. Приют «Фишт» — одно из самых привлекательных и популярных мест 30-го всесоюзного маршрута. Покидая приют по тропе, уходящей круто вверх, туристы ещё долго могут созерцать этот райский уголок.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">четвёртый</span>
              </p>
              <span class="tour-day__number">04</span>
              <h3>Всё ближе к морю.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">20&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>7:30 Завтрак.</li>
            <li>Сбор вещей и переход через главный кавказский хребет на приют Бабук-аул,</li>
            <li>13:00 Обед сух пайком.</li>
            <li>19: 00 Ужин на приюте.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-5.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Далее по маршруту 30 через горы к морю нам предстоит преодолеть ещё два перевала — это Белореченский и Черкесский. Перевалы почти сплошь покрыты буковыми лесами, исключение составляют лишь одиноко растущие хвойные деревья. Через несколько километров туристов ждет крутой спуск, который в народе прославился названием «Весёлый спуск». Спустившись, переправляемся через реку Шахе и приходим к приюту «Бабук-Аул». Это излюбленное место стоянки участников 30-го всесоюзного маршрута.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">пятый</span>
              </p>
              <span class="tour-day__number">05</span>
              <h3>Тропики («Бабук-Аул», «Солох-аул», посёлок Дагомыс).</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">21&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>8:00 Завтрак.</li>
            <li>Переход в Поселок Солох аул.</li>
            <li>Обед сух пайком.</li>
            <li>15:00 Прибытие в поселок.</li>
            <li>16:00 Вручение значков и удостоверений Турист России.</li>
            <li>Трансфер Солох – аул – Дагомыс, Лоо (1ч в пути).</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-7-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-7-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-7-photo-3.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Приют «Бабук-аул» находится в субтропической климатической зоне, поэму в дороге нас будут окружать заросли папоротника, каштановых деревьев, самшита. Дальше – дорога в Солох-аул. Путь пролегает через горную реку Шахе, где мы встретим живописные водопады, падающие со скал. Солох-аул является родиной русского чая. В 1909г здесь впервые культивировали чай на высоте 220 метров над уровнем моря. Это самый северный чай в мире. Именно в Солох-ауле и находится финальная точка нашего маршрута. Отсюда до черноморского побережья остается 33 км автодороги.</p>
            </div>
          </div>
        </article>
        <div class="tour-schedule__finally">
          <p>И в заключении скажем, что по отзывам тех, кто каждый год идет с нами в это удивительное путешествие: каждый, увидевший сокровища маршрута, мечтает вернуться в эти горы. Мы – дети природы, находим здесь гармонию и умиротворение, с которыми не хочется расставаться.</p>
          <p>Легендарный туристский 30-й маршрут ждет вас!</p>
        </div>
      </div>
    </section>

    <section class="arrival-dates">
      <div class="container">
        <h2>Заезды 2018</h2>
        <table>
          <tbody>
            <tr>
              <th>Июнь</th>
              <th>Июль</th>
              <th>Август</th>
              <th>Сентябрь</th>
              <th>Октябрь</th>
            </tr>
            <tr>
              <td>04.06-08.06</td>
              <td>02.07-06.07</td>
              <td>06.08-10.08</td>
              <td>03.09-07.09</td>
              <td>01.10-05.10</td>
            </tr>
            <tr>
              <td>11.06-15.06</td>
              <td>09.07-13.07</td>
              <td>13.08-17.08</td>
              <td>10.09-14.09</td>
              <td></td>
            </tr>
            <tr>
              <td>18.06-22.06</td>
              <td>16.07-20.07</td>
              <td>20.08-24.08</td>
              <td>17.09-21.09</td>
              <td></td>
            </tr>
            <tr>
              <td>25.06-29.06</td>
              <td>23.07-27.07</td>
              <td>27.08-31.08</td>
              <td>24.09-28.09</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>30.07-03.08</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="tour-composition">
      <div class="container">
        <div class="tour-composition__column tour-composition__column--include">
          <h3>В стоимость включено:</h3>
          <ul>
            <li>Проживание на турбазе и туристических приютах</li>
            <li>Трехразовое питание</li>
            <li>Сопровождение инструктора</li>
            <li>Внутримаршрутный транспорт</li>
            <li>Транспортировка вещей на лошадях, перевозка вещей из поселка Каменномостский (Хаджох) в Дагомыс</li>
            <li>Заброска продуктов на приюты</li>
            <li>Прокат группового снаряжения</li>
            <li>Входные платы</li>
            <li>Плата за пребывание в заповеднике</li>
            <li>Аптечка на группу</li>
            <li>Страховка</li>
            <li>Встреча в Краснодаре</li>
          </ul>
        </div>
        <div class="tour-composition__column tour-composition__column--not-include">
          <h3>В стоимость не включено:</h3>
          <ul>
            <li>Проезд до Краснодара</li>
            <li>Прокат спального мешка (500 рублей за все дни похода)</li>
            <li>Прокат треккинговых палок (400 рублей за все дни похода)</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="info">
      <article class="info__item info__item--equipment">
        <div class="container">
          <div class="info__column">
            <h3>Необходимое личное снаряжение:</h3>
            <ul>
              <li>Личный спальный мешок и коврик</li>
              <li>Накидка на случай дождя</li>
              <li>Походная обувь — кроссовки либо туристские ботинки</li>
              <li>Сменная обувь</li>
              <li>Тапочки для посещения душа</li>
              <li>Трекинговые палки (по желанию)</li>
              <li>Тёплый спортивный костюм и свитер</li>
              <li>Капроновый ветровой костюм</li>
              <li>Шорты</li>
              <li>Головной убор от солнца</li>
              <li>Солнцезащитный крем</li>
              <li>Маленький фонарики и батарейки к нему</li>
              <li>Литровая полиэтиленовая бутылка для воды</li>
              <li>Личная посуда (чашка, ложка, кружка)</li>
              <li>Сидушка/хоба (прямоугольный коврик с резинкой)</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="info__item info__item--food">
        <div class="container">
          <div class="info__column">
            <h3>Организация питания:</h3>
            <p>Питание трёхразовое, учитываем предпочтения и с удовольствием работаем с вегетарианцами. Меню составляется инструктором с учетом плана похода, особенностей местности и погодных условий. Туристы участвуют в приготовлении пищи и организации стоянок.</p>
          </div>
        </div>
      </article>
      <article class="info__item info__item--add-services">
        <div class="container">
          <div class="info__column">
            <h3>Дополнительные услуги:</h3>
            <ul>
              <li>Возможна организация отдыха на море в <a href="http://loodom.com" title="Гостевой дом Дружба">гостевом доме</a> </li>
              <li>Есть возможность организовать встречу и трансфер туристов из г. Краснодар, г. Белореченск, г. Майкоп в п. Каменномостский</li>
              <li>Желающим отдохнуть на море в комфортабельных условиях поможем с организаций размещения</li>
            </ul>
          </div>
        </div>
      </article>
    </section>

  </main>
  {{/inline}}
  {{#* inline "footer-block"}}
  <footer class="footer-main">
    <div class="container">
      {{> components/form-feedback/form-feedback--30-light}}
    </div>
    {{> components/footer-bottom/footer-bottom}}
  </footer>
  {{/inline}}

  {{#* inline "scripts-block"}}
    {{> layouts/index.scripts}}

  {{/inline}}

{{/layouts/base}}
