{{#> layouts/base}}

{{#*inline "head-block"}}
  {{> layouts/head meta.valley-of-waterfalls}}
{{/inline}}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  <header class="header">
    {{> components/main-nav/main-nav mod="inner"}}
    {{> components/tour-header/tour-header title="Долина водопадов" bgImage="/img/tours/valley-of-waterfalls/bg-hero.jpg"}}
  </header>
  <main>

    <section class="tour-description">
      <div class="container">
        <div class="tour-description__header">
          <div class="tour-description__title">
            <h2>Долдина водопадов</h2>
          </div>
          <div class="tour-metrics">
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">2090&nbsp;м</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon tour-metrics__icon--lvl">
                <svg aria-hidden="true" width="60" height="60">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">сложность</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">100&nbsp;км</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">7&nbsp;дней</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">25&nbsp;000 р.</span>
            </div>
          </div>
        </div>

        <div class="tour-description__content">
          <div class="tour-description__text">
            <p>Пешеходный недельный тур по окрестностям п. Каменномостского (Хаджох) с двумя автомобильными экскурсиями (плато Лаго-Наки, Гуамское ущелье или Св. Михайло-Афонский Монастырь)</p>
            <p>Стоимость тура 25 000 рублей при размещении в номерах с удобствами на этаже.</p>
            <p>За проживание в номерах со всеми удобствами доплата  5 000 рублей с человека за неделю.</p>
            <p>По окончанию маршрута вручение значка и удостоверения ТУРИСТ РОССИИ!</p>
          </div>
          <div class="tour-description__image">
            <div class="tour-description__image-container">
              <img src="img/tours/valley-of-waterfalls/bg-description.jpg" width="739" height="506" alt="">
            </div>
          </div>
        </div>
        <div class="tour-description__features">
          <h2>Достоинства маршрута</h2>
          <p>Поселок Каменномостский (Хаджох) – небольшой экологически чистый посёлок в лесной части Адыгеи.</p>
          <p>Хаджох прекрасен и необычен во все времена года, в шаговой доступности от него, находится огромное количество достопримечательностей:</p>
          <ul>
            <li>40 живописных водопадов,</li>
            <li>10 уникальных пещер,</li>
            <li>2 грандиозных каньона</li>
            <li>5 скальных ущелий,</li>
            <li>памятники бронзового века-дольмены,</li>
            <li>древние крепости и скифские курганы,</li>
            <li>минеральные и термальные источники,</li>
            <li>стоянки первобытного человека,</li>
            <li>альпинистские скалодромы и горная река для сплава.</li>
          </ul>
          <p>Особая привлекательность его живописных окрестностей заставляет тысячи людей ежегодно приезжать сюда.</p>
        </div>
      </div>
    </section>

    <section class="tour-schedule">
      <div class="container">
        <div class="tour-schedule__title">
          <h2>Программа маршрута</h2>
        </div>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">первый</span>
              </p>
              <span class="tour-day__number">01</span>
              <h3>Заезд. Майкопский район, поселок Каменномостский (Хаджох)</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">8&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Утром заезд на турбазу в пос. Каменномостский (Хаджох).</li>
            <li>Завтрак.</li>
            <li>Прогулка к&nbsp;&laquo;Сквозному гроту&raquo;.<sup>1</sup></li>
            <li>Возвращение на&nbsp;базу, обед.</li>
            <li>Выход в&nbsp;Хаджохскую теснину.<sup>2</sup></li>
            <li>Ужин, затем сбор, знакомство всей группы, развлекательная программа.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-1-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-1-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-1-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-1-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-1-photo-5.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-1-photo-6.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-1-photo-7.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>1. Известным грот стал благодаря карстовому провалу, образовавшимся в потолке его задней части. Через этот провал в дневное время пробивается солнечный свет. Культовое языческое место древних адыгов.</p>
              <p>Хаджохская теснина (Каменномостский каньон) — участок ущелья реки Белой, в которой оборудован экскурсионный маршрут. Хаджохская теснина расположена на юго-западной окраине посёлка Каменномостский. Длина теснины – около 400 м.
              Маршрут оборудован дорожками, лестницами, перилами. Автомобильный мост через каньон делит маршрут на две части. В нижней по течению реки части обустроен вольер в котором содержатся 2 взрослых медведя.</p>
              <p>При приближении к Хаджохской теснине по дороге, ведущей на левый берег реки Белой, не видно речной долины. Только при походе к мосту становится видна пропасть шириной 6—7 м, и глубиной — 35 м. Вырвавшись из теснины, река замедляет свой бег, расширяется до 50—60 м.</p>
              <p>Теснина образовалась от того, что трещиноватый известняк, соприкасаясь с водой, подвергался медленному растворению и выщелачиванию. Благодаря врезанию реки вглубь и вширь, поднятию гор в течение десятков тысячелетий, долина приобрела современные очертания.</p>
              <p>С 1979 года каньон является памятником природы местного значения. Маршрут включён в график движения групп проходящих Всесоюзный туристский маршрут №30.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">второй</span>
              </p>
              <span class="tour-day__number">02</span>
              <h3>Свято-Михайловский Афонский мужской монастырь.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">14&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Посетим смотровые площадки горы Физиабго, купель и подземный монастырь.</li>
            <li>Обед на территории Монастыря.</li>
            <li>На обратном пути заезд к Хаджохскому Дольмену.</li>
            <li>Возвращение на базу. Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-2-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-2-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-2-photo-3.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Афонский Михайловский монастырь, располагается в живописном, уголке Северного Кавказа, на склоне горы Физиабго, вблизи посёлка «Победа». Это место находится в центре Краснодарского края, в республике Адыгея, в тринадцати километрах от посёлка Каменномостского (ст. Хаджох).</p>
              <p>Михайловский монастырь в конце XIX был самым крупным монастырём северного Кавказа. Основан выходцами со Святой горы Афон и является самым высокогорным монастырем России. Возвращён РПЦ в 2001 году в печальном состоянии. В настоящее время монастырь возрождён.</p>
              <p>На территории Адыгеи помимо прекрасных памятников природы много и древних памятников, связанных с деятельностью человека. Среди них дольмены (древние погребальные и культовые сооружения, сложенные из больших камней). Понять точное предназначение дольмена ученые до сих пор не могут.</p>
              <p>Самый знаменитый дольмен на территории Адыгеи – Ходжокский дольмен предполагается, что его создали в третьем тысячелетии до н.э. Существует гипотеза, что здесь находилось большое количество дольменов, но кроме Ходжокского все остальные были разрушены. Высота дольмена – 1,7 метров, ширина – 2,8 метров. В настоящий момент дольмен – предмет культурного наследия Федерального значения и подлежит охране. С дольменом вместе посещают и небольшой музей палеонтологии, находящийся рядом, где собраны предметы быта и разные палеонтологические находки.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">третий</span>
              </p>
              <span class="tour-day__number">03</span>
              <h3>Пешеходная экскурсия в ущелье Руфабго.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">12&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Посещение водопадов в ущелье реки Большой Руфабго.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-3-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-3-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-3-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-3-photo-4.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Водопады в ущелье реки Большой Руфабго – один из самых популярных и красивейших туристских маршрутов на Западном Кавказе. С 1975г. ущелье занесено в реестр памятников природы местного значения и является бесспорной визитной карточкой Адыгеи. Этот уникальный памятник природы расположен в нескольких километрах южнее поселка Каменномостского (Хаджоха).</p>
              <p>Руфабго, левый приток реки Белой протяженностью около 20 км, берет свое начало на склонах хребта Азиш – Тау на высоте 920 м. над уровнем моря, теряя 500 м. высоты, живописным каскадом водопадов впадает в р.Белая.</p>
              <p>В нижней части своего течения Руфабго попадает в глубокое ущелье (древний тектонический разлом) – с крутыми склонами, каменными террасами, гротами и отвесными скальными коридорами высотой до 150 метров. Склоны ущелья густо покрывает буковый лес, деревья и скалы обвиты гирляндами колхидского плюща.</p>
              <p>В этот день мы посетим четыре оборудованных водопада Руфабго, а так же смотровые площадки, откуда будут видны многие красоты этих мест.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">четвёртый</span>
              </p>
              <span class="tour-day__number">04</span>
              <h3>Пешеходная экскурсия в ущелье Мишоко.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">18&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Прогулка налегке с посещением водопадов, гротов и панорамных точек.</li>
            <li>Обед на костре в походных условиях. </li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-4-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-4-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-4-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-4-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-4-photo-5.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-4-photo-6.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Ущелье Мишоко расположено в окрестностях поселка. Река Мишоко, разрезая скальный хребет  Уна-Коз, образует удивительной красоты каньон, высота скал которого достигает 70 метров, а гроты, пещеры, водопады и скальные навесы лишь подчеркивают его красоту.</p>
              <p>Человек обжил берега реки Мишоко около шести тысяч лет назад, что подтверждено археологическими раскопками А.Д. Столяра и археологической экспедицией Эрмитажа. В утёсах, нависших над скалой, были обнаружены древние поселения, которым свыше 120 тысяч лет, а в самом ущелье найдены остатки оборонительных укреплений каменного и бронзового веков. Основным занятием людей, населявших каньон реки Мишоко, было скотоводство, также они занимались земледелием, на что указывают находки зернотерок и кремниевых вкладышей для серпов. Изготавливали жители этих мест и глиняную посуду, кремневые наконечники и костяные изделия.</p>
              <p>В ущелье располагаются курганные захоронения зихского и касожского периодов, меотосарматской и скифской эпох, тщательно оберегающие тайны этих народов.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">пытый</span>
              </p>
              <span class="tour-day__number">05</span>
              <h3>Плато Лаго-Наки, Большая Азишская пещера.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">7&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Авто-пешеходная экскурсия на плато Лаго-Наки, с посещением Большой Азишской пещеры.</li>
            <li>На обратном пути группа посещает Большую Азишскую пещеру.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-5-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-5-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-5-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-5-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-5-photo-5.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Плато Лаго-Наки расположенное на высоте около 1800 м. над уровнем моря. Альпийские луга с панорамными видами, карстовые воронки (провалы в поверхности земли, возникающие из-за вымывания, и разрушения породы).</p>
              <p>Плато поражает путешественников первозданной красотой природы и разнообразием пейзажей.</p>
              <p>По сути это уникальная возможность познакомиться с природой Кавказа, насладиться горным воздухом, отдохнуть от повседневной действительности.</p>
              <p>Многие из тех, кто приехал сюда не хотят уезжать, а уехав-вернутся снова. Ведь для человека нет лучшего отдыха, чем побыть наедине с природой, а горные массивы и высокогорные луга позволяют сделать это с пользой для здоровья.</p>
              <p>По мнению ученых, плато Лаго-Наки не имеет себе подобных. И сложно с ними спорить, ведь тут мы можем найти более сотни видов целебных трав, десятки различных ягод и грибов. В действительности такое разнообразие деревьев и трав объясняется сочетанием рельефа и истории формирования плато. Не стоит забывать так же о климате, который к слову тоже нельзя встретить ни в одном другом месте на планете. В данный момент плато включено в территорию Кавказского Государственного Биосферного заповедника занесённого в ЮНЕСКО.</p>
              <p>Впервые пещеру исследовали еще весной 1910 года пять местных жителей. Один из участников этого события рассказал о посещении пещеры некому автору, написавшему статью в «Кубанские областные ведомости». Из опубликованного рассказа известно, что вход в Азишскую пещеру представлял собой провал, пройти через который «исследователи» смогли только соорудив примитивную лестницу из срубленного бревна. С восточной стороны от входа расположена большая галерея. Галерея украшена сталагмитами и сталактитами, длиной от 20 см до 1 метра, в конце галереи возвышаются фантастических форм столбы.</p>
              <p>Длина пещеры – 690 метров, её глубина – 37 метров, площадь пещеры – 1900 м2, а объем – 11900 м3. Пещера богата натечными образованиями: крупными сталактитами и сталагмитами, колоннами и натечными корами.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">шестой</span>
              </p>
              <span class="tour-day__number">06</span>
              <h3>Дюльфер.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">20&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Cпуск по отвесной скале (стене) с помощью специализированного альпинистского снаряжения.</li>
            <li>Обед в походных условиях.</li>
            <li>Возвращение на базу.</li>
            <li>Ужин.</li>
            <li>Вручение значка и удостоверения ТУРИСТ РОССИИ!</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-6-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-6-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/valley-of-waterfalls/day-6-photo-3.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Данный курс создан для туристов ранее не касающихся темы альпинизма, никаких физических усилий или специализированных навыков при занятии дюльфером не требуется.</p>
              <p>Занятие проводит дипломированный инструктор, в горной местности на учебно – тренировочной скале.</p>
              <p>Практика показывает, что многие люди с опаской относятся к новым, не понятным вещам, но попробовав хоть раз, их уже сложно оторвать от столь увлекательного занятия как дюльфер.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">седьмой</span>
              </p>
              <span class="tour-day__number">07</span>
              <h3>Возвращение домой</h3>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Разъезд по домам.</li>
          </ul>
        </article>
        <div class="tour-schedule__finally">
          <p>Стоимость тура 25 000 рублей при размещении в номерах с удобствами на этаже.</p>
          <p>За проживание в номерах со всеми удобствами доплата 5000 рублей с человека за неделю.</p>
          <p>С учётом погодных обстоятельств программа может быть скорректирована, время и порядок предоставления туристских услуг, заявленных в программе могут меняться при сохранении их объема и качества.</p>
        </div>
      </div>
    </section>

    <section class="arrival-dates">
      <div class="container">
        <h2>Заезды 2018</h2>
        <table>
          <tbody>
            <tr>
              <th>Апрель</th>
              <th>Май</th>
              <th>Июнь</th>
              <th>Июль</th>
              <th>Август</th>
              <th>Сентябрь</th>
              <th>Октябрь</th>
            </tr>
            <tr>
              <td>28.04-04.05</td>
              <td>05.05-11.05</td>
              <td>02.06-08.06</td>
              <td>07.07-13.07</td>
              <td>04.08-10.08</td>
              <td>01.09-07.09</td>
              <td>06.10-12.10</td>
            </tr>
            <tr>
              <td></td>
              <td>12.05-18.05</td>
              <td>09.06-15.06</td>
              <td>14.07-20.07</td>
              <td>11.08-17.08</td>
              <td>08.09-14.09</td>
              <td>13.10-19.10</td>
            </tr>
            <tr>
              <td></td>
              <td>19.05-25.05</td>
              <td>16.06-22.06</td>
              <td>21.07-27.07</td>
              <td>18.08-24.08</td>
              <td>15.09-21.09</td>
              <td>20.10-26.10</td>
            </tr>
            <tr>
              <td></td>
              <td>26.05-01.06</td>
              <td>23.06-29.06</td>
              <td>28.07-03.08</td>
              <td>25.08-31.08</td>
              <td>22.09-28.09</td>
              <td>27.10-02.11</td>
            </tr>
            <tr>
              <td></td>
              <td>30.06-06.07</td>
              <td></td>
              <td></td>
              <td></td>
              <td>29.09-05.10</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="tour-metrics tour-metrics--center">
      <div class="container">
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">2090&nbsp;м</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon tour-metrics__icon--lvl">
            <svg aria-hidden="true" width="60" height="60">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">сложность</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">100&nbsp;км</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">7&nbsp;дней</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">25&nbsp;000 р.</span>
        </div>
      </div>
    </section>


    <section class="tour-composition">
      <div class="container">
        <div class="tour-composition__column tour-composition__column--include">
          <h3>В стоимость включено:</h3>
          <ul>
            <li>Проживание на турбазе в 2-х, 3-х местных номерах с удобствами на этаже (возможно проживание в номерах со всеми удобствами)</li>
            <li>3-х разовое питание</li>
            <li>Сопровождение инструктора</li>
            <li>Четыре пешеходных и две авто-пешеходных экскурсии</li>
            <li>Перевозка вещей (курортных) из поселка Каменномостский (Хаджох) в Дагомыс</li>
            <li>Входные билеты в Большую Азишскую пещеру, Хаджохскую теснину и Дольмену</li>
            <li>Внутри маршрутный транспорт</li>
            <li>Прокат группового снаряжения</li>
            <li>Аптечка на группу</li>
            <li>Страховка</li>
          </ul>
        </div>
        <div class="tour-composition__column tour-composition__column--not-include">
          <h3>В стоимость не включено:</h3>
          <ul>
            <li>Проезд до поселка Каменномостский (Хаджох)</li>
            <li>Доплата за проживание в номере со всеми удобствами</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="info">
      <article class="info__item info__item--equipment">
        <div class="container">
          <div class="info__column">
            <h3>Необходимое личное снаряжение:</h3>
            <ul>
              <li>Небольшой рюкзак</li>
              <li>Накидка на случай дождя</li>
              <li>Походная обувь — кроссовки либо туристские ботинки</li>
              <li>Подменная обувь</li>
              <li>Личная посуда (чашка, ложка, кружка)</li>
              <li>Сидушка/хоба (прямоугольный коврик с резинкой)</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="info__item info__item--food">
        <div class="container">
          <div class="info__column">
            <h3>Организация питания:</h3>
            <p>Питание трёхразовое, учитываем предпочтения и с удовольствием работаем с вегетарианцами. Меню составляется инструктором с учетом плана похода, особенностей местности и погодных условий. Туристы участвуют в приготовлении пищи и организации стоянок.</p>
          </div>
        </div>
      </article>
      <article class="info__item info__item--add-services">
        <div class="container">
          <div class="info__column">
            <h3>Дополнительные услуги:</h3>
            <ul>
              <li>Возможна организация отдыха на море в <a href="http://loodom.com" title="Гостевой дом Дружба">гостевом доме</a> </li>
              <li>Есть возможность организовать встречу и трансфер туристов из г. Краснодар, г. Белореченск, г. Майкоп в п. Каменномостский</li>
            </ul>
          </div>
        </div>
      </article>
    </section>
  </main>
  {{/inline}}
  {{#* inline "footer-block"}}
  <footer class="footer-main">
    <div class="container">
      {{> components/form-feedback/form-feedback--valley-of-waterfalls}}
    </div>
    {{> components/footer-bottom/footer-bottom}}
  </footer>
  {{/inline}}

  {{#* inline "scripts-block"}}
    {{> layouts/index.scripts}}

  {{/inline}}

{{/layouts/base}}
