{{#> layouts/base title="Тур по горным вершинам" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  <header class="header">
    {{> components/main-nav/main-nav mod="inner"}}
    {{> components/tour-header/tour-header title="Тур по горным вершинам" bgImage="img/bg-tour-1.jpg"}}
  </header>
  <main>
    {{> components/tour-schedule/tour-schedule}}
    {{> components/arrival-dates/arrival-dates}}
    <section class="tour-composition">
      <div class="container">
        <div class="tour-composition__column tour-composition__column--include">
          <h3>В стоимость включено:</h3>
          <ul>
            <li>Проживание на турбазе и туристических приютах</li>
            <li>3-х разовое питание</li>
            <li>Услуги инструктора</li>
            <li>Внутримаршрутный транспорт</li>
            <li>Перевозка вещей (курортных) из Хаджоха в Дагомыс</li>
            <li>Заброска почти всех продуктов на приюты</li>
            <li>Прокат группового снаряжения</li>
            <li>Входные платы</li>
            <li>Плата за пребывание в заповеднике</li>
            <li>Аптечка на группу</li>
            <li>Страховка</li>
          </ul>
        </div>
        <div class="tour-composition__column tour-composition__column--not-include">
          <h3>В стоимость не включено:</h3>
          <ul>
            <li>Проезд</li>
            <li>Прокат спального мешка – 600 рублей за поход</li>
            <li>Прокат рюкзака - 600 рублей за поход</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="info">
      <article class="info__item info__item--equipment">
        <div class="container">
          <div class="info__column">
            <h3>Необходимое личное снаряжение:</h3>
            <ul>
              <li>Личный спальный мешок и коврик</li>
              <li>Накидка на случай дождя</li>
              <li>Походная обувь — кроссовки либо туристские ботинки</li>
              <li>Подменная обувь</li>
              <li>Тапочки для посещения душа</li>
              <li>Трекинговые палки</li>
              <li>Тёплый спортивный костюм и свитер</li>
              <li>Капроновый ветровой костюм</li>
              <li>Шорты</li>
              <li>Головной убор от солнца</li>
              <li>Солнцезащитный крем</li>
              <li>Маленький фонарик</li>
              <li>Литровая полиэтиленовая бутылка для воды</li>
              <li>Личная посуда (чашка, ложка, кружка)</li>
              <li>Сидушка/хоба</li>
              <li>Штурмовой рюкзак для восхождения на вершины 10-20 литров</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="info__item info__item--food">
        <div class="container">
          <div class="info__column">
            <h3>Организация питания:</h3>
            <p>Питание трёхразовое. Меню составляется инструктором с учетом плана похода, особенностей местности и погодных условий. Туристы участвуют в приготовлении пищи и организации стоянок. Групповое снаряжение и продукты распределяются на всех участников тура.</p>
          </div>
        </div>
      </article>
      <article class="info__item info__item--add-services">
        <div class="container">
          <div class="info__column">
            <h3>Дополнительные услуги:</h3>
            <ul>
              <li>Возможна организация отдыха на море в <a href="http://loodom.com" title="Гостевой дом Дружба">гостевом доме</a> </li>
              <li>Есть возможность организовать встречу и трансфер туристов из г. Краснодар, г. Белореченск, г. Майкоп в п. Каменномостский</li>
              <li>Желающим отдохнуть на море в комфортабельных условиях поможем с организаций размещения</li>
              <li><span>*</span>Скидка на тур предоставляется при наличии соответствующих документов</li>
            </ul>
          </div>
        </div>
      </article>
    </section>

    <section class="arrival-dates">
      <div class="container">
        <h2>Заезды 2018</h2>
        <table>
          <tbody>
            <tr>
              <th>Апрель</th>
              <th>Май</th>
              <th>Июнь</th>
              <th>Июль</th>
              <th>Август</th>
              <th>Сентябрь</th>
            </tr>
            <tr>
              <td>28.04&nbsp;-&nbsp;04.05</td>
              <td>12.05&nbsp;-&nbsp;18.05</td>
              <td>09.06&nbsp;-&nbsp;15.06</td>
              <td>07.07&nbsp;-&nbsp;13.07</td>
              <td>04.08&nbsp;-&nbsp;10.08</td>
              <td>01.09&nbsp;-&nbsp;07.09</td>
            </tr>
            <tr>
              <td></td>
              <td>26.05&nbsp;-&nbsp;01.06</td>
              <td>23.06&nbsp;-&nbsp;26.06</td>
              <td>21.07&nbsp;-&nbsp;27.07</td>
              <td>18.08&nbsp;-&nbsp;24.08</td>
              <td>15.09&nbsp;-&nbsp;21.09</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>29.09&nbsp;-&nbsp;05.10</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
  {{/inline}}
  {{#* inline "footer-block"}}
    <footer class="footer-main">
      {{> components/footer-bottom/footer-bottom}}
    </footer>
  {{/inline}}

  {{#* inline "scripts-block"}}
    {{> layouts/index.scripts}}
  {{/inline}}

{{/layouts/base}}
