{{#> layouts/template title="Классический маршрут №30" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  <header class="header">
    {{> components/main-nav/main-nav mod="inner"}}
    {{> components/tour-header/tour-header title="Классический маршрут №30" bgImage="/img/tours/classic-route-30/bg-hero.jpg"}}
  </header>
  <main>

    <section class="tour-description">
      <div class="container">
        <div class="tour-description__header">
          <div class="tour-description__title">
            <h2>Легендарная 30-ка. Через горы к морю</h2>
          </div>
          <div class="tour-metrics">
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">2090&nbsp;м</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon tour-metrics__icon--lvl">
                <svg aria-hidden="true" width="60" height="60">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">сложность</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">100&nbsp;км</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">7&nbsp;дней</span>
            </div>
            <div class="tour-metrics__item">
              <div class="tour-metrics__icon">
                <svg aria-hidden="true" width="47" height="47">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
                </svg>
              </div>
              <span class="tour-metrics__text">20&nbsp;000 р.<sub>*</sub></span>
            </div>
          </div>
        </div>

        <div class="tour-description__content">
          <div class="tour-description__text">
            <p>Поход&nbsp;&mdash; это облегченный треккинг маршут, который дает возможность насладиться волшебными видами и&nbsp;природой Северо-кавказских гор.</p>
            <p>Облегчённый рюкзак&nbsp;&mdash; до&nbsp;12&nbsp;кг (с&nbsp;дождевиком, теплыми вещами и&nbsp;перекусом) сделает переход максимально комфортным. Этот поход подойдет как новичкам, так и&nbsp;опытным туристам. Во&nbsp;время перехода вы&nbsp;ощутите что значит: жизнь в&nbsp;&laquo;диких условиях&raquo;, будете разбивать палаточный лагерь, получите навыки ориентировки на&nbsp;местности.
            Вас ждут сокровища Кавказских гор: сказочные ландшафты, альпийские луга, ущелья, озера, водопады и&nbsp;горные ледники.</p>
            <p>30-й маршрут имеет древнейшую историю. Когда-то он&nbsp;являлся частью Великого &laquo;шелкового пути&raquo; и&nbsp;был самой короткой и&nbsp;безопасной дорогой через горы к&nbsp;морю. Когда-то по&nbsp;нему шли торговые караваны, перевозящие дорогие шелка и&nbsp;драгоценности.</p>
            <p>Каждый участник похода получает значок и&nbsp;удостоверение &laquo;Турист России&raquo; в&nbsp;конце маршрута.</p>
            <p class="tour-description__notice"><sub>*</sub>Ветеранам боевых действий и&nbsp;многодетным семьям скидка 2000&nbsp;рублей.</p>
          </div>
          <div class="tour-description__image">
            <div class="tour-description__image-container">
              <img src="img/tours/classic-route-30/bg-description.jpg" width="739" height="506" alt="">
            </div>
          </div>
        </div>
        <div class="tour-description__features">
          <h2>Достоинства маршрута</h2>
          <ul>
            <li>Кавказские горы этой части страны&nbsp;&mdash; высотой около 3000&nbsp;м, одни из&nbsp;наиболее доступных в&nbsp;России;</li>
            <li>Уникальный климат и&nbsp;природа! Следуя по&nbsp;пути марштура, вы&nbsp;пересечете субальпийский и&nbsp;альпийский климатические пояса, тропики и&nbsp;субтропики. Многообразие фауны: альпийские луга, реликтовые и&nbsp;самшитовые леса &mdash;здесь сохранились в&nbsp;первозданном виде.</li>
            <li>Если вы&nbsp;мечтали сходить в&nbsp;многодневный поход, но&nbsp;не&nbsp;имеете опыта, то&nbsp;30-ка без рюкзака именно то&nbsp;что вам нужно. Вам не&nbsp;придется нести все снаряжение на&nbsp;себе, останется только наслаждаться путешествием и&nbsp;отдыхом.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="tour-schedule">
      <div class="container">
        <div class="tour-schedule__title">
          <h2>Программа маршрута</h2>
        </div>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">первый</span>
              </p>
              <span class="tour-day__number">01</span>
              <h3>Заезд. Майкопский район, поселок Каменномостский (Хаджох)</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">8&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Заезд на&nbsp;турбазу в&nbsp;течении дня, завтрак.</li>
            <li>Прогулка к&nbsp;&laquo;Сквозному гроту&raquo;.<sup>1</sup></li>
            <li>Возвращение на&nbsp;базу, обед.</li>
            <li>Выход в&nbsp;Хаджохскую теснину.<sup>2</sup></li>
            <li>Ужин, затем сбор, знакомство всей группы, развлекательная программа.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-1-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-1-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-1-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-1-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-1-photo-5.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-1-photo-6.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-1-photo-7.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>1. Хаджохская теснина (Каменномостский каньон)&nbsp;&mdash; участок ущелья реки Белой, в&nbsp;которой оборудован экскурсионный маршрут. Хаджохская теснина расположена на&nbsp;юго-западной окраине посёлка Каменномостский. Длина теснины&nbsp;&mdash; около 400&nbsp;метров. Маршрут оборудован дорожками, лестницами, перилами. Автомобильный мост через каньон делит маршрут на&nbsp;две части. В&nbsp;нижней по&nbsp;течению реки части обустроен вольер, в&nbsp;котором содержатся 2&nbsp;взрослых медведя. При приближении к&nbsp;Хаджохской теснине по&nbsp;дороге, ведущей на&nbsp;левый берег реки Белой, не&nbsp;видно речной долины. Только при походе к&nbsp;мосту становится видна пропасть шириной 6&ndash;7&nbsp;метров, и&nbsp;глубиной&nbsp;&mdash; 35&nbsp;метров. Вырвавшись из&nbsp;теснины, река замедляет свой бег, расширяется до&nbsp;50&nbsp;&mdash; 60&nbsp;метров. Теснина образовалась от&nbsp;того, что трещиноватый известняк, соприкасаясь с&nbsp;водой, подвергался медленному растворению и&nbsp;выщелачиванию. Благодаря врезанию реки вглубь и&nbsp;вширь, поднятию гор в&nbsp;течение десятков тысячелетий, долина приобрела современные очертания. С&nbsp;1979 года каньон является памятником природы местного значения. Маршрут включён в&nbsp;график движения групп,проходящих Всесоюзный туристский маршрут &#8470;&nbsp;30.</p>
              <p>2. Сквозной грот представляет собой большой грот в&nbsp;скале с&nbsp;наклонным полом, усыпанным различными по&nbsp;величине камнями. Популярным этот грот стал, благодаря карстовому провалу, образовавшемуся в&nbsp;потолке его задней части. Через этот провал в&nbsp;дневное время в&nbsp;него пробивается солнечный свет. Культовое языческое место древних адыгов.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">второй</span>
              </p>
              <span class="tour-day__number">02</span>
              <h3>Ущелье и водопады Руфабго.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">14&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак на базе. Прогулка налегке в ущелье реки Руфабго.</li>
            <li>Обед в походных условиях. Возвращение на базу.</li>
            <li>Ужин.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-2-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-2-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-2-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-2-photo-4.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Мы посетим четыре водопада, а также, смотровые площадки, откуда открываются великолепные виды. Уникальные водопады в ущелье реки Большой Руфабго – один из самых популярных и красивейших туристских маршрутов на Западном Кавказе.</p>
              <p>В нижней части своего течения Руфабго попадает в глубокое ущелье (древний тектонический разлом) – с крутыми склонами, каменными террасами, гротами и отвесными скальными коридорами высотой до 150 метров. Склоны ущелья густо покрывает буковый лес, деревья и скалы обвиты гирляндами колхидского плюща.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">третий</span>
              </p>
              <span class="tour-day__number">03</span>
              <h3>Ущелье Мишоко.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">12&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак на базе. Выход в ущелье реки Мишоко. Пешая прогулка налегке с посещением водопадов, гротов и панорамных точек.</li>
            <li>Обед у костра в походных условиях. Возвращение на базу.</li>
            <li>Ужин. Подготовка к походу и отправление лишних вещей на море (для облегчения рюкзаков), дополнительный инструктаж.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-3-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-3-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-3-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-3-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-3-photo-5.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-3-photo-6.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Ущелье Мишоко расположено в окрестностях поселка. Река Мишоко, разрезая скальный хребет Уна-Коз, образует удивительной красоты каньон, высота скал которого достигает 70 метров, а гроты, пещеры, водопады и скальные навесы лишь подчеркивают его красоту.</p>
              <p>Человек обжил берега реки Мишоко около шести тысяч лет назад, что подтверждено археологическими раскопками А.Д. Столяра и археологической экспедицией Эрмитажа. В утесах, нависших над скалой, были обнаружены древние поселения, которым насчитывается 120 тысяч лет, а в самом ущелье найдены остатки оборонительных укреплений каменного и бронзового веков. В ущелье располагаются курганные захоронения зихского и касожского периодов, миотосарматской и скифской эпох, тщательно оберегающие тайны этих народов.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">четвёртый</span>
              </p>
              <span class="tour-day__number">04</span>
              <h3>Плато Лаго-Наки.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">18&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Переезд из п. Каменномостского на плато Лаго-Наки (высота около 1800 метров над уровнем моря).</li>
            <li>Переход 18 км до приюта Фишт. Время в пути 8-10 часов.</li>
            <li>Обед в походных условиях, перекус.</li>
            <li>Разбиваем лагерь, приготовление ужина, посиделки у костра.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-4-photo-5.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Альпийские луга с панорамными видами, карстовые воронки (провалы в поверхности земли, связанные с вымыванием, и разрушением породы), и огромное количество видов растений. Далее по пути — гора Оштен (высота 2804 метра). Легенда гласит, что когда-то гора была чашей огромного озера. Сейчас она имеет внушительные размеры и пленяет путешественников своим видом: разнообразные узоры скал, каменные россыпи, слегка озеленённые пригорки и безмятежная вершина, которую, как правило, окутывают пушистые, а часто, и тяжелые облака. Чтобы это увидеть, стоит посетить 30 всесоюзный маршрут.</p>
              <p>При подъеме на Гузерипльский перевал понимаешь, что дальше будет еще интереснее, так как впереди путников ждет ещё один перевал и гора Фишт.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">пытый</span>
              </p>
              <span class="tour-day__number">05</span>
              <h3>Приют «Фишт».</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">7&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>выход на малый Фиштинский Ледник, расстояние 7км.</li>
            <li>Готовим все вместе обед.</li>
            <li>Отдых, активные игры, волейбол, футбол, фризби.</li>
            <li>Ужин. Посиделки у костра.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-5-photo-5.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Название горы «Фишт» переводится как «Белая голова». Под вершиной горы расположен огромный ледник, который на фоне серых скал виден на протяжении почти всего маршрута. Подножие горы Фишт находится на высоте примерно 1630 метров, а высота её 2867 метров. Километровый промежуток заполнен огромной каменной крепостью, которая величаво выделяется на фоне соседних более мелких горных хребтов. Разнообразные ручейки, стекая со скал, искрятся и играют на солнце, напоминая россыпи драгоценных камней. В этот день мы совершим прогулочный выход на Малый Фиштинский ледник.</p>
              <p>Несомненно, оценить по достоинству все эти сокровища, можно лишь увидев их хоть раз. Приют «Фишт» — одно из самых привлекательных и популярных мест 30-го всесоюзного маршрута. Покидая приют по тропе, уходящей круто вверх, туристы ещё долго могут созерцать этот райский уголок.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">шестой</span>
              </p>
              <span class="tour-day__number">06</span>
              <h3>Через Главный Кавказский хребет в Бабук-аул.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">20&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Сбор вещей и переход через главный кавказский хребет на приют Бабук-аул,</li>
            <li>Обед сух пайком.</li>
            <li>Ужин на приюте.</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-3.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-4.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-5.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-6.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-7.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-8.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-6-photo-9.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Нам предстоит преодолеть ещё два перевала — это Белореченский и Черкесский. Перевалы почти сплошь покрыты буковыми лесами, исключение составляют лишь одиноко растущие хвойные деревья. Через несколько километров туристов ждет крутой спуск, который в народе прославился названием «Весёлый спуск». Спустившись, переправляемся через реку Шахе и приходим к приюту «Бабук-аул». Это излюбленное место стоянки участников 30-го всесоюзного маршрута.</p>
            </div>
          </div>
        </article>

        <article class="tour-day">
          <header class="tour-day__header">
            <div class="tour-day__title">
              <p class="tour-day__count">
                день<br>
                <span class="tour-day__count">седьмой</span>
              </p>
              <span class="tour-day__number">07</span>
              <h3>Бабук-аул, Солох-аул, Дагомыс.</h3>
            </div>
            <div class="tour-metrics">
              <div class="tour-metrics__item">
                <div class="tour-metrics__icon">
                  <svg aria-hidden="true" width="47" height="47">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
                  </svg>
                </div>
                <span class="tour-metrics__text">21&nbsp;км</span>
              </div>
            </div>
          </header>
          <ul class="tour-day__events">
            <li>Завтрак.</li>
            <li>Переход в Поселок Солох аул.</li>
            <li>Обед сух пайком.</li>
            <li>Прибытие в поселок.</li>
            <li>Вручение значков и удостоверений Турист России.</li>
            <li>Трансфер Солох- аул – Дагомыс, Лоо (1ч в пути).</li>
          </ul>
          <div class="tour-day__reference">
            <div class="day-photos">
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-7-photo-1.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-7-photo-2.jpg" alt="">
              </div>
              <div class="day-photos__item">
                <img src="img/tours/classic-route-30/day-7-photo-3.jpg" alt="">
              </div>
            </div>
            <div class="tour-day__interesting">
              <p>Приют «Бабук-аул» находится в субтропической климатической зоне, поэму в дороге нас будут окружать заросли папоротника, каштановых деревьев, самшита. Дальше – дорога в Солох-аул. Путь пролегает через горную реку Шахе, где мы встретим живописные водопады, падающие со скал. Солох-аул является родиной русского чая. В 1909г здесь впервые культивировали чай на высоте 220 метров над уровнем моря. Это самый северный чай в мире. Именно в Солох-ауле и находится финальная точка нашего маршрута. Отсюда до черноморского побережья остается 33 км автодороги.</p>
            </div>
          </div>
        </article>
      </div>
    </section>

    <section class="arrival-dates">
      <div class="container">
        <h2>Заезды 2018</h2>
        <table>
          <tbody>
            <tr>
              <th>Июнь</th>
              <th>Июль</th>
              <th>Август</th>
              <th>Сентябрь</th>
              <th>Октябрь</th>
            </tr>
            <tr>
              <td>02.06-08.06</td>
              <td>07.07-13.07</td>
              <td>04.08-10.08</td>
              <td>01.09-07.09</td>
              <td>06.10-12.10</td>
            </tr>
            <tr>
              <td>09.06-15.06</td>
              <td>14.07-20.07</td>
              <td>11.08-17.08</td>
              <td>08.09-14.09</td>
              <td>13.10-19.10</td>
            </tr>
            <tr>
              <td>16.06-22.06</td>
              <td>21.07-27.07</td>
              <td>18.08-24.08</td>
              <td>15.09-21.09</td>
              <td></td>
            </tr>
            <tr>
              <td>23.06-29.06</td>
              <td>28.07-03.08</td>
              <td>25.08-31.08</td>
              <td>22.09-28.09</td>
              <td></td>
            </tr>
            <tr>
              <td>30.06-06.07</td>
              <td></td>
              <td></td>
              <td>29.09-05.10</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="tour-metrics tour-metrics--center">
      <div class="container">
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-climb"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">2090&nbsp;м</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon tour-metrics__icon--lvl">
            <svg aria-hidden="true" width="60" height="60">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl"></use>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-lvl--20"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">сложность</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-path"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">100&nbsp;км</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-time"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">7&nbsp;дней</span>
        </div>
        <div class="tour-metrics__item">
          <div class="tour-metrics__icon">
            <svg aria-hidden="true" width="47" height="47">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-tour-price"></use>
            </svg>
          </div>
          <span class="tour-metrics__text">20&nbsp;000 р.<sub>*</sub></span>
        </div>

      </div>
    </section>


    <section class="tour-composition">
      <div class="container">
        <div class="tour-composition__column tour-composition__column--include">
          <h3>В стоимость включено:</h3>
          <ul>
            <li>Проживание на турбазе и туристических приютах</li>
            <li>3-х разовое питание</li>
            <li>Сопровождение инструктора</li>
            <li>Внутримаршрутный транспорт</li>
            <li>Перевозка вещей (курортных) из поселка Каменномостский (Хаджох) в Дагомыс</li>
            <li>Заброска продуктов на приюты</li>
            <li>Прокат группового снаряжения</li>
            <li>Входные платы</li>
            <li>Плата за пребывание в заповеднике</li>
            <li>Аптечка на группу</li>
            <li>Страховка</li>
          </ul>
        </div>
        <div class="tour-composition__column tour-composition__column--not-include">
          <h3>В стоимость не включено:</h3>
          <ul>
            <li>Проезд до поселка Каменномостский (Хаджох)</li>
            <li>Прокат спального мешка (500 рублей за все дни похода).</li>
            <li>Прокат треккинговых палок (400 рублей за все дни похода)</li>
            <li>Проживание на море.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="info">
      <article class="info__item info__item--equipment">
        <div class="container">
          <div class="info__column">
            <h3>Необходимое личное снаряжение:</h3>
            <ul>
              <li>Личный спальный мешок и коврик</li>
              <li>Рюкзак 60-70 литров</li>
              <li>Накидка на случай дождя</li>
              <li>Походная обувь — кроссовки либо туристские ботинки</li>
              <li>Подменная обувь</li>
              <li>Тапочки для посещения душа</li>
              <li>Трекинговые палки (по желанию)</li>
              <li>Тёплый спортивный костюм и свитер</li>
              <li>Капроновый ветровой костюм</li>
              <li>Шорты</li>
              <li>Головной убор от солнца</li>
              <li>Солнцезащитный крем</li>
              <li>Маленький фонарики и батарейки к нему</li>
              <li>Литровая полиэтиленовая бутылка для воды</li>
              <li>Личная посуда (чашка, ложка, кружка)</li>
              <li>Сидушка/хоба (прямоугольный коврик с резинкой)</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="info__item info__item--food">
        <div class="container">
          <div class="info__column">
            <h3>Организация питания:</h3>
            <p>Питание трёхразовое, учитываем предпочтения и с удовольствием работаем с вегетарианцами. Меню составляется инструктором с учетом плана похода, особенностей местности и погодных условий. Туристы участвуют в приготовлении пищи и организации стоянок.</p>
          </div>
        </div>
      </article>
      <article class="info__item info__item--add-services">
        <div class="container">
          <div class="info__column">
            <h3>Дополнительные услуги:</h3>
            <ul>
              <li>Возможна организация отдыха на море в <a href="http://loodom.com" title="Гостевой дом Дружба">гостевом доме</a> </li>
              <li>Есть возможность организовать встречу и трансфер туристов из г. Краснодар, г. Белореченск, г. Майкоп в п. Каменномостский</li>
              <li>Желающим отдохнуть на море в комфортабельных условиях поможем с организаций размещения</li>
              <li><span>*</span>Скидка на тур предоставляется при наличии соответствующих документов</li>
            </ul>
          </div>
        </div>
      </article>
    </section>


  </main>
  {{/inline}}
  {{#* inline "footer-block"}}
  <footer class="footer-main">
    <div class="container">
      {{> components/form-feedback/form-feedback--classic-route-30}}
    </div>
    {{> components/footer-bottom/footer-bottom}}
  </footer>
  {{/inline}}

  {{#* inline "scripts-block"}}
    {{> layouts/index.scripts}}

  {{/inline}}

{{/layouts/template}}
